aiohttp==3.6.2
appdirs==1.4.3
appnope==0.1.0
asgiref==3.2.6
async-timeout==3.0.1
attrs==19.3.0
autopep8==1.5
backcall==0.1.0
beautifulsoup4==4.8.2
bleach==3.1.3
boto3==1.12.27
botocore==1.15.27
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
colorclass==2.2.0
croniter==0.3.31
cssselect==1.1.0
decorator==4.4.2
Django==3.1.12
django-appconf==1.0.3
docopt==0.6.2
docutils==0.15.2
emoji==0.5.4
fake-useragent==0.1.11
future==0.18.2
geographiclib==1.50
geopy==1.21.0
gitdb==4.0.2
GitPython==3.1.0
googletrans==2.4.0
httplib2==0.17.0
idna==2.9
idna-ssl==1.1.0
instagram-scraper==1.8.1
ipython==7.13.0
ipython-genutils==0.2.0
jedi==0.16.0
jmespath==0.9.5
lxml==4.5.0
MechanicalSoup==0.12.0
MeetupAPI==1.0.3
multidict==4.7.5
oauthlib==3.1.0
packaging==20.3
parse==1.15.0
parso==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
pip-upgrader==1.4.15
prompt-toolkit==3.0.4
ptyprocess==0.6.0
pycodestyle==2.5.0
pyee==7.0.1
Pygments==2.6.1
pyparsing==2.4.6
pyppeteer==0.0.25
pyprintplus==1.0.0
pyquery==1.4.1
python-crontab==2.4.1
python-dateutil==2.8.1
pytz==2019.3
PyWebScraper==0.0.2
rcssmin==1.0.6
requests==2.23.0
requests-html==0.10.0
requests-oauthlib==1.3.0
rjsmin==1.1.0
s3transfer==0.3.3
selenium==3.141.0
six==1.14.0
slackclient==2.5.0
smmap==3.0.1
soupsieve==2.0
sqlparse==0.3.1
terminaltables==3.1.0
tqdm==4.43.0
traitlets==4.3.3
twitter-scraper==0.4.1
typing-extensions==3.7.4.1
urllib3==1.25.8
w3lib==1.21.0
wcwidth==0.1.9
webencodings==0.5.1
websockets==8.1
yarl==1.4.2
