{% load config %}
{% load secrets %}
{% load css %}
{% load translate %}
{% block content %}

{% with MODULES='MODULES'|get_config %}

<div id="side_menu" class="side_menu{% if language == 'hebrew' %} rtl{% endif %}"{% if 'logo.svg'|image_exists == False %} style="padding-top: 65px;"{% endif %}>
  <noscript>
  This website requires javascript.
  </noscript>
  {% if 'logo.svg'|image_exists %}
  <div class="logo"></div>
  {% endif %}
  
  {% if 'Search' in MODULES %}
  <div id="search_bar" class="search_bar{% if language == 'hebrew' %} rtl{% endif %}"{% if 'logo.svg'|image_exists == False %} style="top: 20px;"{% endif %}>
    <input id="search_input" class="search_input{% if language == 'hebrew' %} rtl" align="right"{% else %}"{% endif %} placeholder="{{ 'Search ...'|menu:language }}" oninput="search(this.value,'{{ 'Searching ...'|menu:language }}',{% if language == 'hebrew' %}true{% else %}false{% endif %})"></input>
    <div id="search_results"></div>
  </div>
  {% endif %}

  <a href="/" id="menu_h_landingpage" onclick="event.preventDefault();getPage('/','menu_h_landingpage')" class="menu_heading{% if slug == '/' %} selected{% endif %}"{% if language == 'hebrew' %} align="right"{% endif %}>{{ 'Landingpage'|menu:language }}</a>
  {% if slug == '/' %}
  <a href="#do_i_belong" class="menu_heading sub_heading{% if language == 'hebrew' %} rtl" align="right"{% else %}"{% endif %}>{{ 'Do I belong at SPACE?'|landingpage:language }}</a>
  
  {% if in_space == False %}
  <a href="#visit_us" class="menu_heading sub_heading{% if language == 'hebrew' %} rtl" align="right"{% else %}"{% endif %}>{{ 'Visit us!'|landingpage:language }}</a>
  
  {% if 'CONTACT.PHONE_NUMBER'|get_config or 'CONTACT.E_MAIL'|get_config or 'CONTACT.TELEGRAM_GROUPS'|get_config %}
  <a href="#contact_us" class="menu_heading sub_heading{% if language == 'hebrew' %} rtl" align="right"{% else %}"{% endif %}>{{ 'Contact us!'|landingpage:language }}</a>
  {% endif %}
  
  {% endif %}
  
  {% endif %}

  {% if 'Values' in MODULES or 'Photos' in MODULES or 'BASICS.HACKERSPACE_MANUAL'|get_config %}
  <a href="
      {% if 'Values' in MODULES %}/values
      {% elif 'Photos' in MODULES %}/photos
      {% else %}{{ 'BASICS.HACKERSPACE_MANUAL'|get_config}}
      {% endif %}" onclick="event.preventDefault();{% if 'Values' in MODULES %}
      getPage('/values','menu_h_values'){% elif 'Photos' in MODULES %}
      getPage('/photos','menu_h_photos'){% endif %}" class="menu_heading"{% if language == 'hebrew' %} align="right"{% endif %}>{{ 'About'|menu:language }}</a>
  {% if 'Values' in MODULES %}
  <a href="/values" id="menu_h_values" onclick="event.preventDefault();getPage('/values','menu_h_values')" class="menu_heading{% if slug == '/values' %} selected{% endif %} sub_heading{% if language == 'hebrew' %} rtl" align="right"{% else %}"{% endif %}>{{ 'Values'|menu:language }}</a>
  {% endif %}
  {% if 'Photos' in MODULES %}
  <a href="/photos" id="menu_h_photos" onclick="event.preventDefault();getPage('/photos','menu_h_photos')" class="menu_heading{% if slug == '/photos' %} selected{% endif %} sub_heading{% if language == 'hebrew' %} rtl" align="right"{% else %}"{% endif %}>{{ 'Photos'|menu:language }}</a>
  {% endif %}
  {% if 'BASICS.HACKERSPACE_MANUAL'|get_config %}
  <a href="{{ 'BASICS.HACKERSPACE_MANUAL'|get_config }}" target="_blank" class="menu_heading sub_heading"{% if language == 'hebrew' %} align="right"{% endif %}>{{ 'Manual'|menu:language }}</a>
  {% endif %}
  {% endif %}

  <a href="/events" onclick="event.preventDefault();getPage('/events','menu_h_events')" class="menu_heading"{% if language == 'hebrew' %} align="right"{% endif %}>{{ 'Participate'|menu:language }}</a>
  {% if 'Events|View' in MODULES %}
  <a href="/events" id="menu_h_events" onclick="event.preventDefault();getPage('/events','menu_h_events')" class="menu_heading sub_heading{% if slug == '/events' or 'event/' in slug %} selected{% endif %}{% if language == 'hebrew' %} rtl" align="right"{% else %}"{% endif %}>{{ 'Events'|menu:language }}</a>
  {% endif %}
  {% if 'DISCOURSE.DISCOURSE_URL'|get_key %}
  <a href="{{ 'DISCOURSE.DISCOURSE_URL'|get_key }}" target="_blank" id="menu_h_discourse" class="menu_heading sub_heading{% if language == 'hebrew' %} rtl" align="right"{% else %}"{% endif %}>{{ 'Discussions'|menu:language }}</a>
  {% endif %}
  {% if 'Projects' in MODULES %}
  <a href="/projects" id="menu_h_projects" onclick="event.preventDefault();getPage('/projects','menu_h_projects')" class="menu_heading sub_heading{% if slug == '/projects' or 'project/' in slug %} selected{% endif %}{% if language == 'hebrew' %} rtl" align="right"{% else %}"{% endif %}>{{ 'Projects'|menu:language }}</a>
  {% endif %}
  {% if 'Spaces' in MODULES %}
  <a href="/spaces" id="menu_h_spaces" onclick="event.preventDefault();getPage('/spaces','menu_h_spaces')" class="menu_heading sub_heading{% if slug == '/spaces' or 'space/' in slug %} selected{% endif %}{% if language == 'hebrew' %} rtl" align="right"{% else %}"{% endif %}>{{ 'Spaces'|menu:language }}</a>
  {% endif %}
  {% if 'Machines' in MODULES %}
  <a href="/machines" id="menu_h_machines" onclick="event.preventDefault();getPage('/machines','menu_h_machines')" class="menu_heading sub_heading{% if slug == '/machines' or 'machine/' in slug %} selected{% endif %}{% if language == 'hebrew' %} rtl" align="right"{% else %}"{% endif %}>{{ 'Machines'|menu:language }}</a>
  {% endif %}
  {% if 'Meetings|View' in MODULES %}
  <a href="/meetings" id="menu_h_meetings" onclick="event.preventDefault();getPage('/meetings','menu_h_meetings')" class="menu_heading sub_heading{% if slug == '/meetings' %} selected{% endif %}{% if language == 'hebrew' %} rtl" align="right"{% else %}"{% endif %}>{{ 'Meetings'|menu:language }}</a>
  {% endif %}
  {% if 'Consensus' in MODULES %}
  <a href="/consensus" id="menu_h_consensus" onclick="event.preventDefault();getPage('/consensus','menu_h_consensus')" class="menu_heading sub_heading{% if slug == '/consensus' or 'consensus/' in slug %} selected{% endif %}{% if language == 'hebrew' %} rtl" align="right"{% else %}"{% endif %}>{{ 'Consensus'|menu:language }}</a>
  {% endif %}
  {% if 'Guildes' in MODULES %}
  <a href="/guildes" id="menu_h_guildes" onclick="event.preventDefault();getPage('/guildes','menu_h_guildes')" class="menu_heading sub_heading{% if slug == '/guildes' or 'guilde/' in slug %} selected{% endif %}{% if language == 'hebrew' %} rtl" align="right"{% else %}"{% endif %}>{{ 'Guildes'|menu:language }}</a>
  {% endif %}
  {% if 'BASICS.DONATION_URLs.MONEY'|get_config %}
  <div onclick="showOverlay('donate')" class="menu_heading sub_heading" style="cursor: pointer"{% if language == 'hebrew' %} align="right"{% endif %}>{{ 'Donate'|landingpage:language }}</div>
  {% endif %}

  <br>

  {% for all_language in 'WEBSITE.LANGUAGES'|get_config %}
  <a href="?lang={{ all_language }}" class="menu_heading sub_heading{% if all_language == language %} selected{% endif %}">{{ all_language|get_language_local_name }}</a>
  {% endfor %}

  {% if user.is_authenticated %}
  <br>
  <a class="menu_heading sub_heading" href="/{{ 'DJANGO.ADMIN_URL'|get_key }}" target="_blank">Admin interface</a>
  <a class="menu_heading sub_heading" href="/logout">Logout</a>
  {% endif %}

  {% comment %}
  <a href="#" onclick="getPage('/libraries')" class="menu_heading">Libraries</a>
  <a href="#" onclick="getPage('/books')" class="menu_heading sub_heading">Books</a>
  <a href="#" onclick="getPage('/books')" class="menu_heading sub_heading">Games</a> {% endcomment %}
</div>

{% endwith %}

{% endblock %}