{% load text %}
{% block content %}

<a class="block__consensus_item_preview" href="{{ result.url_discourse }}" target="_blank">
    <div class="consensus_item_by__image" style="background-image: url('{{ result.one_creator.url_featured_photo }}')"></div>
    <div class="consensus_item_by">by {{ result.one_creator }}</div>
    <div class="h2 large">{{ result.str_name }}</div>
    <div class="consensus_item_by__description">{{ result.text_description|cleanhtml|safe }}</div>
    <div class="block__consensus_status">
        <div class="text__consensus_status{% if result.str_status == 'new' %} active{% endif %}">New</div>
        <div class="text__consensus_status{% if result.str_status == 'passed_1' %} active{% endif %}">Meeting 1 passed</div>
        {% if result.str_status == 'approved' %}
        <div class="text__consensus_status active">Meeting 2 passed</div>
        {% elif result.str_status == 'rejected' %}
        <div class="text__consensus_status active">Rejected</div>
        {% elif result.str_status == 'archived' %}
        <div class="text__consensus_status active">Archived</div>
        {% else %}
        <div class="text__consensus_status">Meeting 2 passed</div>
        {% endif %}
    </div>
</a>

{% endblock %}