{% load text %}
{% block content %}

<div class="edit_this_page_block">
    {% if selected and user.is_authenticated %}
    <div>Edit this database entry!</div>
    <a href="/{{ ADMIN_URL }}/hackerspace/{{ selected|classname }}/{{ selected.id }}/change" target="_blank" class="link">open admin interface</a>
    {% endif %}
    <div class="divider_20"></div>
    {% if page_git_url %}
    <div>Edit this page!</div>
    <a href="{{ HACKERSPACE.Website_GIT }}{{ page_git_url }}" target="_blank" class="link">on {{ HACKERSPACE.Website_GIT_PROVIDER }}</a>
    {% else %}
    <div>Edit our website!</div>
    <a href="{{ HACKERSPACE.Website_GIT }}" target="_blank" class="link">on {{ HACKERSPACE.Website_GIT_PROVIDER }}</a>
    {% endif %}
</div>

{% endblock %}