{% load text %}
{% load config %}
{% load translate %}
{% block content %}

<div class="edit_this_page_block">
    {% if selected and user.is_authenticated %}
    <div>{{ 'Edit this database entry!'|landingpage:language }}</div>
    <a href="/{{ ADMIN_URL }}/hackerspace/{{ selected|classname }}/{{ selected.id }}/change" target="_blank" class="link">{{ 'Open admin interface'|landingpage:language }}</a>
    {% endif %}
    {% if 'WEBSITE.WEBSITE_GIT'|get_config %}
    <div class="divider_20"></div>
    {% if page_git_url %}
    <div>{{ 'Edit this page!'|landingpage:language }}</div>
    <a href="{{ 'WEBSITE.WEBSITE_GIT'|get_config }}{{ page_git_url }}" target="_blank" class="link">{{ 'Click here!'|landingpage:language }}</a>
    {% else %}
    <div>{{ 'Edit our website!'|landingpage:language }}</div>
    <a href="{{ 'WEBSITE.WEBSITE_GIT'|get_config }}" target="_blank" class="link">{{ 'Click here!'|landingpage:language }}</a>
    {% endif %}
    <br>
    <br>
    <div>{{ 'Edit the text & translations!'|landingpage:language }}</div>
    <a href="{{ 'WEBSITE.WEBSITE_GIT'|get_config }}/tree/master/hackerspace/Website/templates/translations" target="_blank" class="link">{{ 'Click here!'|landingpage:language }}</a>
    {% endif %}
</div>

{% endblock %}