{% load text %}
{% load config %}
{% block content %}

<div class="edit_this_page_block">
    {% if selected and user.is_authenticated %}
    <div>Edit this database entry!</div>
    <a href="/{{ ADMIN_URL }}/hackerspace/{{ selected|classname }}/{{ selected.id }}/change" target="_blank" class="link">open admin interface</a>
    {% endif %}
    <div class="divider_20"></div>
    {% if page_git_url %}
    <div>Edit this page!</div>
    <a href="{{ 'WEBSITE.WEBSITE_GIT'|get_config }}{{ page_git_url }}" target="_blank" class="link">on {{ 'WEBSITE.WEBSITE_GIT_PROVIDER'|get_config }}</a>
    {% else %}
    <div>Edit our website!</div>
    <a href="{{ 'WEBSITE.WEBSITE_GIT'|get_config }}" target="_blank" class="link">on {{ 'WEBSITE.WEBSITE_GIT_PROVIDER'|get_config }}</a>
    {% endif %}
</div>

{% endblock %}