{% block content %}

<div id="events_slider" class="events_slider_section">
    <div class="result_preview placeholder_left"></div>
    {% for result in upcoming_events %}
    {% include "components/body/result_preview_block.html" %}
    {% endfor %}
    <div class="event_slider_extra_options_block">
      {% comment %} <a href="#" class="cta_button secondary">Show all</a> {% endcomment %}
      <div class="divider_10"></div>
      {% comment %} <a href="#" class="cta_button secondary with_icon plus_icon">Create an event</a> {% endcomment %}
    </div>
</div>

{% endblock %}