{% block content %}

<div class="max_500">
    <h2 class="h2 large">Do I belong at {{ HACKERSPACE.HACKERSPACE_NAME }}?</h2>
    <p class="paragraph">YES YOU DO! As long as you follow our <a href="#" class="inline_link">one rule</a>. At {{ HACKERSPACE_NAME }} you can meet friendly people doing <a href="#" class="inline_link">all kinds of cool things</a> - from software &amp; electronics up to playing music, reading books and having great conversations with your fellow <a href="#" class="inline_link">hackers</a>.</p>
</div>

{% endblock %}