{% block content %}

<div id="visit_us" class="max_500">
    <h2 class="h2 large">Visit us!</h2>
    <div class="table">
      <div class="visit_us_text_left">When?</div>
      <div class="visit_us_text_right">{{ HACKERSPACE.HACKERSPACE_OPENING_HOURS_SUMMARY }}</div>
    </div>
    <div class="divider_10"></div>
    <div class="table">
      <div class="visit_us_text_left">Where?</div>
      <div class="visit_us_text_right">{{ HACKERSPACE.HACKERSPACE_ADDRESS.STREET }}<br>{{ HACKERSPACE.HACKERSPACE_ADDRESS.CITY }}<br>{{ HACKERSPACE.HACKERSPACE_ADDRESS.STATE }} {{ HACKERSPACE.HACKERSPACE_ADDRESS.ZIP }}<br>{{ HACKERSPACE.HACKERSPACE_ADDRESS.EXTRA_INFO }}</div>
    </div>
    <div class="divider_20"></div>
    <iframe class="map_preview" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3154.178154041456!2d-122.42143928490898!3d37.762420679761654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f7e23baa2b1df%3A0x81b913a252fb8d04!2sNoisebridge!5e0!3m2!1sen!2sus!4v1572324947963!5m2!1sen!2sus" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    <div class="align_center move_up">
      <a target="_blank" href="https://www.google.com/maps/dir/?api=1&destination={{ HACKERSPACE.HACKERSPACE_NAME }},{{ HACKERSPACE.HACKERSPACE_ADDRESS.CITY }}" class="cta_button secondary inline">Navigate</a>
    </div>
    <div class="divider_20"></div>
    <div class="divider_20"></div>
</div>

{% endblock %}