{% block content %}

<div class="max_540">
    <h2 class="h2 large">Do I belong at {{ HACKERSPACE.HACKERSPACE_NAME }}?</h2>
    <p class="paragraph">YES YOU DO! As long as you follow our <a href="#" class="inline_link" onclick="getPage('/values','menu_h_values')">one rule</a>. At {{ HACKERSPACE.HACKERSPACE_NAME }} you can meet friendly people doing all kinds of cool things - from software &amp; electronics up to playing music, reading books and having great conversations with your fellow <a href="https://discuss.noisebridge.info/" target="_blank" class="inline_link">hackers</a>.</p>
</div>

{% endblock %}