{% load static %}

{% block content %}

<div class="centered max_900_width">
    <a onclick="enterSearch('wood')" style="background-image: url('{% static 'images/areas/handsaw.png' %}" class="landingpage_quick_access_icon"></a>
    <div class="landingpage_quick_access_icon divider"></div>
    <a onclick="enterSearch('3D printer')" style="background-image: url('{% static 'images/areas/3d-printer.png' %}')" class="landingpage_quick_access_icon"></a>
    <div class="landingpage_quick_access_icon divider"></div>
    <a onclick="enterSearch('music')" style="background-image: url('{% static 'images/areas/electric-guitar.png' %}')" class="landingpage_quick_access_icon"></a>
    <div class="landingpage_quick_access_icon divider"></div>
    <a onclick="enterSearch('game dev')" style="background-image: url('{% static 'images/areas/game-controller.png' %}')" class="landingpage_quick_access_icon"></a>
    <div class="landingpage_quick_access_icon divider"></div>
    <a onclick="enterSearch('community')" style="background-image: url('{% static 'images/areas/group.png' %}')" class="landingpage_quick_access_icon"></a>
    <div class="landingpage_quick_access_icon divider"></div>
    <a onclick="enterSearch('laser cutter')" style="background-image: url('{% static 'images/areas/laser-cutting-machine.png' %}')" class="landingpage_quick_access_icon"></a>
    <div class="landingpage_quick_access_icon divider"></div>
</div>
<div class="centered max_900_width">
    <div class="landingpage_quick_access_icon divider"></div>
    <a onclick="enterSearch('code')" style="background-image: url('{% static 'images/areas/programming.png' %}')" class="landingpage_quick_access_icon"></a>
    <div class="landingpage_quick_access_icon divider"></div>
    <a onclick="enterSearch('robot')" style="background-image: url('{% static 'images/areas/robot.png' %}')" class="landingpage_quick_access_icon"></a>
    <div class="landingpage_quick_access_icon divider"></div>
    <a onclick="enterSearch('electronic')" style="background-image: url('{% static 'images/areas/soldering-iron.png' %}')" class="landingpage_quick_access_icon"></a>
    <div class="landingpage_quick_access_icon divider"></div>
    <a onclick="enterSearch('drawing')" style="background-image: url('{% static 'images/areas/tools.png' %}')" class="landingpage_quick_access_icon"></a>
    <div class="landingpage_quick_access_icon divider"></div>
    <a onclick="enterSearch('whiteboarding')" style="background-image: url('{% static 'images/areas/whiteboard.png' %}')" class="landingpage_quick_access_icon"></a>
    <div class="landingpage_quick_access_icon divider"></div>
    <a onclick="enterSearch('sewing')" style="background-image: url('{% static 'images/areas/yarn-ball.png' %}')" class="landingpage_quick_access_icon"></a>
</div>    

{% endblock %}