{% load static %}

{% block content %}

<div class="centered max_900_width">
    <a onclick="enterSearch('wood')" class="landingpage_quick_access_icon wood"></a>
    <div class="landingpage_quick_access_icon divider"></div>
    <a onclick="enterSearch('3D printer')"class="landingpage_quick_access_icon printer3d"></a>
    <div class="landingpage_quick_access_icon divider"></div>
    <a onclick="enterSearch('music')" class="landingpage_quick_access_icon music"></a>
    <div class="landingpage_quick_access_icon divider"></div>
    <a onclick="enterSearch('game dev')" class="landingpage_quick_access_icon gamedev"></a>
    <div class="landingpage_quick_access_icon divider"></div>
    <a onclick="enterSearch('community')" class="landingpage_quick_access_icon community"></a>
    <div class="landingpage_quick_access_icon divider"></div>
    <a onclick="enterSearch('laser cutter')" class="landingpage_quick_access_icon lasercutter"></a>
    <div class="landingpage_quick_access_icon divider"></div>
</div>
<div class="centered max_900_width">
    <div class="landingpage_quick_access_icon divider"></div>
    <a onclick="enterSearch('code')" class="landingpage_quick_access_icon code"></a>
    <div class="landingpage_quick_access_icon divider"></div>
    <a onclick="enterSearch('robot')" class="landingpage_quick_access_icon robot"></a>
    <div class="landingpage_quick_access_icon divider"></div>
    <a onclick="enterSearch('electronic')" class="landingpage_quick_access_icon electronic"></a>
    <div class="landingpage_quick_access_icon divider"></div>
    <a onclick="enterSearch('drawing')" class="landingpage_quick_access_icon drawing"></a>
    <div class="landingpage_quick_access_icon divider"></div>
    <a onclick="enterSearch('whiteboarding')" class="landingpage_quick_access_icon whiteboarding"></a>
    <div class="landingpage_quick_access_icon divider"></div>
    <a onclick="enterSearch('sewing')" class="landingpage_quick_access_icon sewing"></a>
</div>    

{% endblock %}