{% block content %}

<div id="current_meeting_block">
    <div class="max_500">
        {% if current_meeting %}
        <h2 class="h2 large">Join today&#x27;s meeting!</h2>
        <p class="subheading">Join us now, live, as a note taker for our current meeting:</p>
        {% else %}
        <h2 class="h2 large">Starting new meeting ...</h2>
        {% endif %}
    </div>
    <div class="meeting_block">
        {% if current_meeting %}
        <h3 class="h3">{{ current_meeting.text_date }}</h3>
        <a href="/meeting/present" target="_blank" class="cta_button secondary present_mode">Presentation mode</a>
        <div class="html-embed">
            <iframe style="width:100%;height:100%" src="https://pad.riseup.net/p/{{ HACKERSPACE.RISEUPPAD_MEETING_PATH }}"></iframe>
        </div>
        {% else %}
        <p class="subheading" style="width: 300px; margin: auto;">
            Starting a new meeting based on <a href="{{ HACKERSPACE.IMPORTANT_URLS.MEETING_TEMPLATE }}" class="highlight_text_red" target="_blank">our template</a>.<br>
            Please wait a minute…
        </p>
        {% endif %}
    </div>
    <div class="max_500">
        <p class="subheading">
            Did you know?<br>
            You can manually add a keyword to the notes by using #.<br>
            For example: #lasercutter
        </p>
    </div>
</div>

{% endblock %}