{% block content %}

<div id="join_next_meeting" class="max_500">
    <h2 class="h2 large">{% if current_meeting %}Or join{% else %}Join{% endif %} our next meeting!</h2>
    <div class="divider_20"></div>
    {% include "components/body/result_preview_block.html" with result=next_meeting %}
    <div class="divider_20"></div>
    <p class="subheading">
        {% if not current_meeting %}
        <a href="#" class="highlight_text_red" onclick="startNewMeeting()">Click here to manually start a new meeting</a>
        {% endif %}
    </p>
</div>

{% endblock %}