{% block content %}

<div class="max_540">
    {% include "components/body/event_new/form_elements/text_field.html" with input_id="event_name" field_heading="Name" field_placeholder="Enter a name ..." field_width="90%" field_subheading="Tipp: Keep it short & clear." %}
</div>

<div class="max_540">
    <div class="blocks_inline_50_percent">
        {% include "components/body/event_new/form_elements/text_field.html" with field_heading="Date" input_id="event_date" oninput="checkForOverlappingEvents()" field_placeholder="YYYY-MM-DD" %}
    </div>
    <div class="blocks_inline_50_percent">
        {% include "components/body/event_new/form_elements/text_field.html" with field_heading="Time" input_id="event_time" oninput="checkForOverlappingEvents()" field_placeholder="HH:MM AM/PM" %}
    </div>
</div>

<div class="max_540">
    <div class="blocks_inline_50_percent">
        {% include "components/body/event_new/form_elements/text_field.html" with field_heading="Duration" input_id="event_duration" oninput="checkForOverlappingEvents()" field_placeholder="HH:MM" %}
    </div>
    <div class="blocks_inline_50_percent">
        {% include "components/body/event_new/form_elements/dropdown_field.html" with field_heading="Space" input_id="event_space" onchange="checkForOverlappingEvents()" all_entries=all_spaces default_selected_value=default_space.str_name default_selected_name=default_space.str_name %}
    </div>
</div>

<div id="overlapping_events_section" style="display: none;margin-top: 40px" class="visually_separated_content">
    <div class="header_separator upside"></div>
    <div class="divider_20"></div>
    <div class="divider_20"></div>

    <div class="max_540">
        <div id="overlapping_events"></div>
    </div>

    <div class="divider_20"></div>
    <div class="divider_20"></div>
    <div class="header_separator"></div>
</div>




{% endblock %}