{% load secrets %}
{% load config %}
{% load translate %}
{% block content %}

{% with MODULES='MODULES'|get_config %}

<div class="max_540">
    {% include "components/body/event_new/form_elements/input_field.html" with input_id="event_name" field_heading="Name" multi_language=True field_placeholder="Enter a name ..." field_width="90%" field_subheading="Tipp: Keep it short & clear." %}
</div>

<div class="max_540">
    <div class="blocks_inline_50_percent">
        {% include "components/body/event_new/form_elements/input_field.html" with field_heading="Date" input_id="event_date" oninput="checkForOverlappingEvents()" field_placeholder="YYYY-MM-DD" %}
    </div>
    <div class="blocks_inline_50_percent">
        {% include "components/body/event_new/form_elements/input_field.html" with field_heading="Time" input_id="event_time" oninput="checkForOverlappingEvents()" field_placeholder="HH:MM AM/PM" %}
    </div>
</div>

<div class="max_540">
    <div class="blocks_inline_50_percent">
        {% include "components/body/event_new/form_elements/input_field.html" with field_heading="Duration" input_id="event_duration" oninput="checkForOverlappingEvents()" field_placeholder="HH:MM" %}
    </div>
    {% if 'Spaces' in MODULES %}
    <div class="blocks_inline_50_percent">
        {% include "components/body/event_new/form_elements/dropdown_field.html" with field_heading="Space" input_id="event_space" onchange="checkForOverlappingEvents()" all_entries=all_spaces default_selected_value=default_space.str_name_en_US default_selected_name=default_space.str_name_en_US %}
    </div>
    {% endif %}
</div>

<div id="overlapping_events_section" style="display: none;margin-top: 40px" class="visually_separated_content">
    <div class="header_separator upside"></div>
    <div class="divider_20"></div>
    <div class="divider_20"></div>

    <div class="max_540">
        <div id="overlapping_events"></div>
    </div>

    <div class="divider_20"></div>
    <div class="divider_20"></div>
    <div class="header_separator"></div>
</div>

<div class="max_540">
    <div class="blocks_inline_50_percent">
        {% include "components/body/event_new/form_elements/upload_image_field.html" with field_heading="Featured photo" input_id="event_photo" field_subheading="Recommended: 1200x600 or higher" %}
    </div>
    <div class="blocks_inline_50_percent">
        {% include "components/body/event_new/form_elements/text_field.html" with field_heading="Description" multi_language=True input_id="event_description" field_placeholder="Describe what your event is all about." %}
    </div>
</div>

<div class="max_540">
    <div class="blocks_inline_50_percent">
        {% include "components/body/event_new/form_elements/location_field.html" with field_heading="Location" input_id="event_location" %}
    </div>
    {% if 'Guildes' in MODULES %}
    <div class="blocks_inline_50_percent">
        {% include "components/body/event_new/form_elements/dropdown_field.html" with field_heading="Guilde" input_id="event_guilde" all_entries=all_guildes default_selected_value='' default_selected_name='-' %}
    </div>
    {% endif %}
</div>

<div class="max_540">
    <div class="blocks_inline_50_percent">
        {% include "components/body/event_new/form_elements/hosts_field.html" with field_heading="Hosts" %}
    </div>
    <div class="blocks_inline_50_percent">
        {% include "components/body/event_new/form_elements/repeating_field.html" with field_heading="Repeating" %}
    </div>
</div>

<div class="max_540">
    <div class="blocks_inline_50_percent">
        {% include "components/body/event_new/form_elements/volunteers_field.html" with field_heading="Volunteers" input_id="event_volunteers" %}
    </div>
    <div class="blocks_inline_50_percent">
        {% include "components/body/event_new/form_elements/expected_crowd_field.html" with field_heading="Expected crowd" input_id="event_expected_crowd" %}
    </div>
</div>

<div class="max_540">
    {% if 'EVENTS.MEETUP_GROUP'|get_config and 'MEETUP.ACCESS_TOKEN'|key_exists and 'MEETUP.CLIENT_ID'|key_exists and 'MEETUP.CLIENT_SECRET'|key_exists %}
    {% else %}
    <div style="opacity: 0.5">{{ 'Server config incomplete... Meetup'|events:language }}</div>
    {% endif %}
    {% if 'DISCOURSE.DISCOURSE_URL'|key_exists and 'DISCOURSE.API_KEY'|key_exists and 'DISCOURSE.API_USERNAME'|key_exists %}
    {% else %}
    <div style="opacity: 0.5">{{ 'Server config incomplete... Discourse'|events:language }}</div>
    {% endif %}
</div>
<div class="divider_20"></div>
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
<div class="max_540">
    <div onclick="publish_event(this,{% if 'AWS.ACCESS_KEYID'|key_exists %}true{% else %}false{% endif %},{{ 'WEBSITE.LANGUAGES'|get_config }})" class="button__cta">{{ 'Publish event'|events:language }}</div>
</div>
<div class="divider_100"></div>

{% endwith %}

{% endblock %}