{% load array %}
{% load text %}
{% load config %}
{% load translate %}
{% block content %}

{% include "components/header/temporary_info.html" %}

{% with MODULES='MODULES'|get_config %}

{% if selected.videocall_now and 'VIDEOCALLS.JITSI_DOMAIN'|get_config %}
<div id="videocall"></div>
{% else %}
<div class="header_block sub_page">
    <div class="header_separator"></div>
    <div class="header_image" {% if selected.url_featured_photo or selected.image_featured_photo %} style="
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.5)), to(hsla(0, 0%, 100%, 0.5))), url('{% if selected.url_featured_photo %}{{ selected.url_featured_photo }}{% elif selected.image_featured_photo %}{{ selected.image_featured_photo.url }}{% endif %}');
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.5), hsla(0, 0%, 100%, 0.5)), url('{% if selected.url_featured_photo %}{{ selected.url_featured_photo }}{% elif selected.image_featured_photo %}{{ selected.image_featured_photo.url }}{% endif %}');
    " {% endif %}></div>
</div>
{% endif %}

<div class="divider_20"></div>

<div class="max_540">
    {% if selected.boolean_approved == False %}
    <div class="new_event_info">
        {{ 'This event was submitted...'|events:language|safe }}<br><strong>{{ selected.str_relative_publish_time }}</strong>.<br>
        <br>
        {{ 'Want it published earlier?...'|events:language|safe }}
    </div>
    {% endif %}
    <div class="sub_heading text_semitransparent">
        {% if selected.str_relative_time %}{{ selected.str_relative_time }}, {% endif %}{{ selected.datetime_range }}
        {% if selected.str_series_repeat_how_often %} | 🗓{{ selected.repeating }}{% endif %}
        {% if selected.one_space and 'Spaces' in MODULES %} | <a class="inline_link" href="/{{ selected.one_space.str_slug }}" target="_blank">{{ selected.one_space.str_name_en_US }}</a>{% endif %}
    </div>
    
    <h2 class="h2 large{% if language == 'hebrew' %} rtl" align="right"{% else %}"{% endif %}>
        {% if language == 'hebrew' and selected.str_name_he_IL %}
        {{ selected.str_name_he_IL|TEXT_replaceLinkCSS|safe }}
        {% else %}
        {{ selected.str_name_en_US|TEXT_replaceLinkCSS|safe }}
        {% endif %}
    </h2>
    {% if selected.url_meetup_event %}
    <a href="{{ selected.url_meetup_event }}" target="_blank" class="button__cta inline">RSVP</a>
    {% endif %}
    {% if user.is_authenticated and selected.boolean_approved == False %}
    <div id="button__event_approve" onclick="approveEvent('{{ selected.str_slug }}')" class="button__cta inline">{{ 'Approve event'|events:language }}</div>
    {% endif %}
    {% if selected.boolean_approved == False %}
    <div id="button__event_delete" onclick="deleteEvent('{{ selected.str_slug }}')" class="button__cta secondary inline">{{ 'Delete event'|events:language }}{% if selected.int_series_startUNIX %} {{ 'series'|events:language }}{% endif %}</div>
    <br>
    <br>
    {% endif %}
    {% if selected.url_discourse_event and selected.boolean_looking_for_volunteers == True %}
    <a href="{{ selected.url_discourse_event }}" target="_blank" class="button__cta secondary inline">{{ 'Volunteer'|events:language }}</a>
    {% endif %}
    {% if selected.url_meetup_event or selected.boolean_looking_for_volunteers == True %}
    <br>
    <br>
    {% endif %}

    {% if language == 'hebrew' and selected.text_description_he_IL %}
        {% if selected.text_description_he_IL|length > 350 %}
        <div id="event_description" class="text_box_max_height">{{ selected.text_description_he_IL|TEXT_replaceLinkCSS|safe }}</div>
        <div class="inline_link" onclick="showFullDescription('event_description',this)">{{ 'Show full description'|events:language }}</div>
        {% else %}
        <div>{{ selected.text_description_he_IL|TEXT_replaceLinkCSS|safe }}</div>
        {% endif %}
    {% else %}
        {% if selected.text_description_en_US|length > 350 %}
        <div id="event_description" class="text_box_max_height">{{ selected.text_description_en_US|TEXT_replaceLinkCSS|safe }}</div>
        <div class="inline_link" onclick="showFullDescription('event_description',this)">{{ 'Show full description'|events:language }}</div>
        {% else %}
        <div>{{ selected.text_description_en_US|TEXT_replaceLinkCSS|safe }}</div>
        {% endif %}
    {% endif %}
</div>

<div class="divider_20"></div>

<div class="max_540">
    <div class="blocks_inline_50_percent">
        <h2 class="h2 large{% if language == 'hebrew' %} rtl" align="right"{% else %}"{% endif %}>{{ 'Location'|events:language }}</h2>
        <div>
        {% with HACKERSPACE_ADDRESS='PHYSICAL_SPACE.ADDRESS'|get_config %}
        {% if HACKERSPACE_ADDRESS.STREET not in selected.str_location %}
        {{ selected.str_location }}
        {% else %}
        {{ 'BASICS.NAME'|get_config }}<br>
        {{ HACKERSPACE_ADDRESS.STREET }}<br>
        {{ HACKERSPACE_ADDRESS.ZIP }} {{ HACKERSPACE_ADDRESS.CITY }}, {{ HACKERSPACE_ADDRESS.COUNTRYCODE }}
        {% endif %}
        {% endwith %}
        </div>
    </div>
    {% if selected.many_hosts.exists %}
    <div class="blocks_inline_50_percent">
        <h2 class="h2 large{% if language == 'hebrew' %} rtl" align="right"{% else %}"{% endif %}>{{ 'Hosts'|events:language }}</h2>
        {% for host in selected.many_hosts.all %}
        <a class="host_link" href="{{ host.url_discourse }}" target="_blank">
            <div class="host_preview_image{% if language == 'hebrew' %} rtl{% endif %}" style="background-image: url('{{ host.url_featured_photo }}')"></div>
            <div>{{ host.str_name_en_US|STR__first_name }}</div>
        </a>
        {% endfor %}
    </div>
</div>

<div class="divider_20"></div>

<div class="max_540">
    {% endif %}
    
    {% if selected.one_space and 'Spaces' in MODULES %}
    <div class="blocks_inline_50_percent">
        <h2 class="h2 large{% if language == 'hebrew' %} rtl" align="right"{% else %}"{% endif %}>{{ 'Space'|events:language }}</h2>
        {% include "components/body/result_preview_block.html" with result=selected.one_space %}
    </div>
    {% endif %}
    {% if selected.one_guilde and 'Guildes' in MODULES %}
    <div class="blocks_inline_50_percent">
        <h2 class="h2 large{% if language == 'hebrew' %} rtl" align="right"{% else %}"{% endif %}>{{ 'Guilde'|events:language }}</h2>
        {% include "components/body/result_preview_block.html" with result=selected.one_guilde %}
    </div>
    {% endif %}
</div>

<div class="divider_20"></div>
<div class="divider_20"></div>

<div class="visually_separated_content">
    <div class="header_separator upside"></div>

    <div class="divider_100"></div>
    <div class="max_540">
        {% if selected.RESULT__next_event %}
        <div class="blocks_inline_50_percent">
            <h2 class="h2 large{% if language == 'hebrew' %} rtl" align="right"{% else %}"{% endif %}>{{ 'Join us next time!'|events:language }}</h2>
            {% include "components/body/result_preview_block.html" with change_contrast=True result=selected.RESULT__next_event %}
        </div>
        {% endif %}
    </div>
    <div class="divider_100"></div>
</div>

{% endwith %}

{% include "components/body/edit_this_page.html" %}

{% endblock %}