{% load config %}
{% load translate %}
{% block content %}

<h2 class="h2{% if language == 'hebrew' %} rtl{% endif %} large small_distance_bottom">{{ field_heading|events:language|safe }}</h2>
<div class="divider_10"></div>
<select id="event_expected_crowd" onchange="ask_who_welcomes_people(this.value)" class="input_field_enter_name round_square grey_background" style="height: 41px;">
    {% with CROWD_SIZE='EVENTS.CROWD_SIZE'|get_config %}
    <option value="small">{{ CROWD_SIZE.SMALL|events:language|safe }}</option>
    <option value="medium">{{ CROWD_SIZE.MEDIUM|events:language|safe }}</option>
    <option value="large">{{ CROWD_SIZE.LARGE|events:language|safe }}</option>
    {% endwith %}
</select>

<div id="who_welcomes_people" style="display: none">
    <div class="divider_10"></div>
    <div class="subheading" style="width: 90%;">
        {{ 'Large events info...'|events:language|safe }}
    </div>
    <div class="divider_10"></div>
    <input type="text" id="event_welcomer" class="input_field_enter_name round_square grey_background" style="width: 80%;" placeholder="{{ 'Who welcomes people?'|events:language }}"></input>
</div>

<div class="divider_20"></div>

{% endblock %}