[Unit]
Description=TAMI Django service for main website, nginx talks to it
Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/home/tami/HackerspaceTemplatePackage
User=tami
ExecStart=/home/tami/HackerspaceTemplatePackage/pyvenv/bin/uwsgi -s localhost:8001 --wsgi-file hackerspace/wsgi.py

[Install]
WantedBy=sysinit.target
