{% load static %}
{% block content %}

<div id="donate_overlay" class="overlay_block" onclick="event.stopPropagation()">
    <a href="#" class="button__close_overlay" onclick="closeOverlays()"></a>

    <h2 class="h2 large">Donate</h2>
    <div>Noisebridge is funded by donations. So please help us keeping Noisebridge alive! With money, hardware or your time!</div>
    <div>Donations are tax deductible.</div>
    <div class="divider_20"></div>
    <a class="button__cube money" href="#">Donate<br>money</a>
    <a class="button__cube hardware" href="#">Donate<br>hardware</a>
    <a class="button__cube organize_event" href="#">Organize<br>an event</a>
    <a class="button__cube volunteer" href="#">Volunteer<br>at an event</a>
    {% comment %} <div class="divider_20"></div>
    <div class="divider_20"></div> {% endcomment %}

    {% comment %} <h2 class="h2 large">Or help realizing a community wishes</h2> {% endcomment %}

</div>

{% endblock %}