{% load config %}
{% load translate %}
{% block content %}

<div class="meeting_block overlay" onclick="event.stopPropagation()" id="meeting_over" {% if language == 'hebrew' %} dir="rtl" align="right"{% endif %}>
    <h2 id="meeting_over_heading" class="h2 large{% if language == 'hebrew' %} rtl" align="right"{% else %}"{% endif %}>{{ 'Is the meeting over?'|meetings:language|safe }}</h2>
    <div id="meeting_over_text">{{ 'If yes... meeting will be saved...'|meetings:language|safe }}</div>
    <div class="divider_20"></div>
    <div id="meeting_over_buttons">
        <a onclick="confirmMeetingOver()" href="#" class="button__cta next_to_secondary">{{ 'Yes'|meetings:language }}</a><a href="#" onclick="closeOverlays()" class="button__cta secondary next_to_main_cta">{{ 'Not yet'|meetings:language }}</a>
    </div>
</div>

{% endblock %}