/* Safari 4.0 - 8.0 */
@-webkit-keyframes flash_live {
    0% {
        opacity: 0.1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.1;
    }
}

@keyframes flash_live {
    0% {
        opacity: 0.1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.1;
    }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes LEDs {
    0% {
        box-shadow: 0 0px 117px 0 rgba(197, 1, 1, 0.7);
    }

    33% {
        box-shadow: 0 0px 117px 0 rgba(0, 195, 255, 0.7);
    }

    66% {
        box-shadow: 0 0px 117px 0 rgba(106, 197, 1, 0.7);
    }

    100% {
        box-shadow: 0 0px 117px 0 rgba(181, 1, 197, 0.7);
    }
}

@keyframes LEDs {
    0% {
        box-shadow: 0 0px 117px 0 rgba(197, 1, 1, 0.7);
    }

    33% {
        box-shadow: 0 0px 117px 0 rgba(0, 195, 255, 0.7);
    }

    66% {
        box-shadow: 0 0px 117px 0 rgba(106, 197, 1, 0.7);
    }

    100% {
        box-shadow: 0 0px 117px 0 rgba(181, 1, 197, 0.7);
    }
}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes LEDsStrong {
    0% {
        box-shadow: 0 0px 47px 0 rgba(197, 1, 1, 1);
    }

    33% {
        box-shadow: 0 0px 47px 0 rgba(0, 195, 255, 1);
    }

    66% {
        box-shadow: 0 0px 47px 0 rgba(106, 197, 1, 1);
    }

    100% {
        box-shadow: 0 0px 47px 0 rgba(181, 1, 197, 1);
    }
}

@keyframes LEDsStrong {
    0% {
        box-shadow: 0 0px 47px 0 rgba(197, 1, 1, 1);
    }

    33% {
        box-shadow: 0 0px 47px 0 rgba(0, 195, 255, 1);
    }

    66% {
        box-shadow: 0 0px 47px 0 rgba(106, 197, 1, 1);
    }

    100% {
        box-shadow: 0 0px 47px 0 rgba(181, 1, 197, 1);
    }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes CatMoving {
    0% {
        right: 0px;
    }

    33% {
        right: -45px;
    }

    66% {
        right: 0px;
    }

    100% {
        right: -20px;
    }
}

@keyframes CatMoving {
    0% {
        transform: rotate(-25deg);
        right: -45px;
    }

    33% {
        transform: rotate(-45deg);
        right: 0px;
    }

    66% {
        transform: rotate(-30deg);
        right: -20px;
    }

    100% {
        transform: rotate(-25deg);
        right: -45px;
    }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes CatMovingRTL {
    0% {
        left: 0px;
    }

    33% {
        left: -45px;
    }

    66% {
        left: 0px;
    }

    100% {
        left: -20px;
    }
}

@keyframes CatMovingRTL {
    0% {
        transform: rotate(25deg);
        left: -45px;
    }

    33% {
        transform: rotate(45deg);
        left: 0px;
    }

    66% {
        transform: rotate(30deg);
        left: -20px;
    }

    100% {
        transform: rotate(25deg);
        left: -45px;
    }
}