{% load config %}
{% load secrets %}
{% block content %}

{% if word == 'What event do you want to organize?' %}
{% if language == 'hebrew' %}
איזה אירוע תרצו לארגן?
{% else %}
What event do you want to organize?
{% endif %}


{% elif word == 'Enter a name ...' %}
{% if language == 'hebrew' %}
הכנס שם ...
{% else %}
Enter a name ...
{% endif %}


{% elif word == 'Continue' %}
{% if language == 'hebrew' %}
המשך
{% else %}
Continue
{% endif %}


{% elif word == 'Consider helping existing event...' %}
{% if language == 'hebrew' %}
שיקלו גם:
<br>
אולי אירוע דומה ב- 
{{ 'BASICS.NAME'|get_config }}
 זקוק למתנדבים נוספים?
{% else %}
Also consider:<br>
Maybe a similar event at {{ 'BASICS.NAME'|get_config }} could need your help?
{% endif %}


{% elif word == 'Similar events' %}
{% if language == 'hebrew' %}
אירועים דומים
{% else %}
Similar events
{% endif %}


{% elif word == 'Name' %}
{% if language == 'hebrew' %}
שם
{% else %}
Name
{% endif %}


{% elif word == 'Tipp: Keep it short & clear.' %}
{% if language == 'hebrew' %}
טיפ: שמרו על זה קצר וברור.
{% else %}
Tipp: Keep it short & clear.
{% endif %}


{% elif word == 'english' %}
{% if language == 'hebrew' %}
אנגלית
{% else %}
english
{% endif %}


{% elif word == 'hebrew' %}
{% if language == 'hebrew' %}
עברית
{% else %}
hebrew
{% endif %}


{% elif word == 'Time' %}
{% if language == 'hebrew' %}
שעה
{% else %}
Time
{% endif %}


{% elif word == 'Date' %}
{% if language == 'hebrew' %}
תאריך
{% else %}
Date
{% endif %}


{% elif word == 'Duration' %}
{% if language == 'hebrew' %}
משך
{% else %}
Duration
{% endif %}


{% elif word == 'Description' %}
{% if language == 'hebrew' %}
תיאור
{% else %}
Description
{% endif %}


{% elif word == 'Describe what your event is all about.' %}
{% if language == 'hebrew' %}
תאר את האירוע.
{% else %}
Describe what your event is all about.
{% endif %}


{% elif word == 'Auto translate' %}
{% if language == 'hebrew' %}
תרגום אוטומטי
{% else %}
Auto translate
{% endif %}


{% elif word == 'Featured photo' %}
{% if language == 'hebrew' %}
תמונה
{% else %}
Featured photo
{% endif %}


{% elif word == 'Recommended: 1200x600 or higher' %}
{% if language == 'hebrew' %}
מומלץ: 1200x600 ומעלה
{% else %}
Recommended: 1200x600 or higher
{% endif %}


{% elif word == 'Location' %}
{% if language == 'hebrew' %}
מיקום
{% else %}
Location
{% endif %}


{% elif word == 'Other location' %}
{% if language == 'hebrew' %}
מיקום אחר
{% else %}
Other location
{% endif %}


{% elif word == 'Street Address, ZIP code, State, Country' %}
{% if language == 'hebrew' %}
 רחוב, מיקוד, מחוז ומדינה

{% comment %}
  No idea how to translate
{% endcomment %}
{% else %}
Street Address, ZIP code, State, Country
{% endif %}


{% elif word == 'Repeating' %}
{% if language == 'hebrew' %}
אירוע חוזר
{% else %}
Repeating
{% endif %}


{% elif word == 'Weekly' %}
{% if language == 'hebrew' %}
שבועי
{% else %}
Weekly
{% endif %}


{% elif word == 'Bi-Weekly' %}
{% if language == 'hebrew' %}
דו - שבועי
{% else %}
Bi-Weekly
{% endif %}


{% elif word == 'Monthly' %}
{% if language == 'hebrew' %}
חודשי
{% else %}
Monthly
{% endif %}


{% elif word == 'Hosts' %}
{% if language == 'hebrew' %}
מארחים
{% comment %}
Need better translation 
אולי מארגני האירוע? או מארגנים?
{% endcomment %}
{% else %}
Hosts
{% endif %}


{% elif word == 'Select the host...' %}
{% if language == 'hebrew' %}
בחר את מארחי האירוע. השם שלך לא מופיע? ודאו שנרשמתם ל
<a href="{{ 'DISCOURSE.DISCOURSE_URL'|get_key }}" target="_blank" class="inline_link">
    קבוצת 
    הדיסקורס
     שלנו</a>.
{% else %}
Select the hosts of the event. Your name is missing? Make sure you signed up in <a href="{{ 'DISCOURSE.DISCOURSE_URL'|get_key }}" target="_blank" class="inline_link">our Discourse group</a>.
{% endif %}


{% elif word == 'Search for name ...' %}
{% if language == 'hebrew' %}
חפש שם ...
{% else %}
Search for name ...
{% endif %}


{% elif word == 'Expected crowd' %}
{% if language == 'hebrew' %}
קהל צפוי
{% else %}
Expected crowd
{% endif %}


{% elif word == 'Up to 10 people' %}
{% if language == 'hebrew' %}
עד 10 אנשים
{% else %}
Up to 10 people
{% endif %}


{% elif word == 'Up to 20 people' %}
{% if language == 'hebrew' %}
עד 20 אנשים
{% else %}
Up to 20 people
{% endif %}


{% elif word == 'More than 20 people' %}
{% if language == 'hebrew' %}
יותר מעשרים איש
{% else %}
More than 20 people
{% endif %}


{% elif word == 'Large events info...' %}
{% if language == 'hebrew' %}
לאירועים גדולים:
<br>
מי יהיה לאורך כל תקופת האירוע בפתח לקבל את פני המשתתפים ב- 
{{ 'BASICS.NAME'|get_config }}
 וגם יקשה על הגנבים לגנוב ציוד?
<br>
אתה? מארגן אחר? מתנדב? (שם המתנדב?) או מאבטח שכור?
{% else %}
For large events:<br>
Who will be for the whole time of the event at the door to welcome people to {{ 'BASICS.NAME'|get_config }} and also make it more difficult for thiefs to steal things?<br>
You? a co-organizer? a volunteer? (name of the volunteer?) or a hired door security?
{% endif %}


{% elif word == 'Who welcomes people?' %}
{% if language == 'hebrew' %}
מי מקבל את המשתתפים בכניסה?
{% else %}
Who welcomes people?
{% endif %}


{% elif word == 'Volunteers' %}
{% if language == 'hebrew' %}
מתנדבים
{% else %}
Volunteers
{% endif %}


{% elif word == 'Can you need volunteers?...' %}
{% if language == 'hebrew' %}
האם נדרשים מתנדבים לתפעול האירוע? להקמתו, פרסומו או כל דבר אחר?
{% else %}
Can you need volunteers to help you with the event? Building up, promoting it or anything else?
{% endif %}


{% elif word == 'Yes, ask for help' %}
{% if language == 'hebrew' %}
אל תהססו לבקש עזרה
{% else %}
Yes, ask for help
{% endif %}


{% elif word == 'No help needed' %}
{% if language == 'hebrew' %}
אין צורך בעזרה
{% else %}
No help needed
{% endif %}


{% elif word == 'Server config incomplete... Meetup' %}
{% if language == 'hebrew' %}
חסרות הגדרות בשרת. בקש ממנהל האתר להגדיר את הסיסמאות ל
 Meetup, 
 כדי לאפשר פרסום אירועים שם.
{% else %}
Server config incomplete. Ask the website admin to setup the secrets for Meetup, to enable posting events to meetup.
{% endif %}


{% elif word == 'Server config incomplete... Discourse' %}
{% if language == 'hebrew' %}
חסרות הגדרות בשרת. בקש ממנהל האתר להגדיר את הסודות לשנת
 Discourse, 
 כדי לאפשר פרסום אירועים שם.
{% else %}
Server config incomplete. Ask the website admin to setup the secrets for Discourse, to enable posting events to Discourse.
{% endif %}


{% elif word == 'Publish event' %}
{% if language == 'hebrew' %}
פרסם את האירוע
{% else %}
Publish event
{% endif %}


{% elif word == 'This event was submitted...' %}
{% if language == 'hebrew' %}
האירוע נשלח לאישור. <br>
אם אף אחד ב- 
{{ 'BASICS.NAME'|get_config }}
 לא דוחה אירוע זה (מכיוון שמדובר על ספאם או כפילות למשל), הוא יפורסם אוטומטית
{% else %}
This event was submitted and doesn't show up in the search yet.<br>
If no one at {{ 'BASICS.NAME'|get_config }} rejects this event (because it's spam or a duplicate for example), it will be automatically published
{% endif %}


{% elif word == 'Want it published earlier?...' %}
{% if language == 'hebrew' %}
רוצים לפרסם את האירוע בהקדם האפשרי? בקש ממישהו ב- 
{{ 'BASICS.NAME'|get_config }}
 עם הרשאות באתר זה לאשר את האירוע או ליצור עבורך חשבון משתמש.
{% else %}
Want to have the event published earlier? Ask someone at {{ 'BASICS.NAME'|get_config }} with a user account for this website to confirm the event or to create a user account for you.
{% endif %}


{% elif word == 'Approve event' %}
{% if language == 'hebrew' %}
אשר את האירוע
{% else %}
Approve event
{% endif %}


{% elif word == 'Delete event' %}
{% if language == 'hebrew' %}
מחק את האירוע
{% else %}
Delete event
{% endif %}


{% elif word == 'series' %}
{% if language == 'hebrew' %}
סדרה
{% else %}
series
{% endif %}


{% elif word == 'Volunteer' %}
{% if language == 'hebrew' %}
מתנדב
{% else %}
Volunteer
{% endif %}


{% elif word == 'Show full description' %}
{% if language == 'hebrew' %}
הצג תיאור מלא
{% else %}
Show full description
{% endif %}


{% elif word == 'Join us next time!' %}
{% if language == 'hebrew' %}
הצטרפו אלינו בפעם הבאה!
{% else %}
Join us next time!
{% endif %}


{% else %}
{{ word }}

{% endif %}
{% endblock%}