{% block content %}

{% if word == 'Landingpage' %}
{% if language == 'hebrew' %}
Landingpage
{% else %}
Landingpage
{% endif %}


{% elif word == 'About' %}
{% if language == 'hebrew' %}
About
{% else %}
About
{% endif %}


{% elif word == 'Values' %}
{% if language == 'hebrew' %}
Values
{% else %}
Values
{% endif %}


{% elif word == 'Photos' %}
{% if language == 'hebrew' %}
Photos
{% else %}
Photos
{% endif %}


{% elif word == 'Participate' %}
{% if language == 'hebrew' %}
Participate
{% else %}
Participate
{% endif %}


{% elif word == 'Events' %}
{% if language == 'hebrew' %}
Events
{% else %}
Events
{% endif %}


{% elif word == 'Projects' %}
{% if language == 'hebrew' %}
Projects
{% else %}
Projects
{% endif %}


{% elif word == 'Spaces' %}
{% if language == 'hebrew' %}
Spaces
{% else %}
Spaces
{% endif %}


{% elif word == 'Machines' %}
{% if language == 'hebrew' %}
Machines
{% else %}
Machines
{% endif %}


{% elif word == 'Meetings' %}
{% if language == 'hebrew' %}
Meetings
{% else %}
Meetings
{% endif %}


{% elif word == 'Consensus' %}
{% if language == 'hebrew' %}
Consensus
{% else %}
Consensus
{% endif %}


{% elif word == 'Guildes' %}
{% if language == 'hebrew' %}
Guildes
{% else %}
Guildes
{% endif %}


{% elif word == 'Search ...' %}
{% if language == 'hebrew' %}
Search ...
{% else %}
Search ...
{% endif %}


{% elif word == 'Searching ...' %}
{% if language == 'hebrew' %}
Searching ...
{% else %}
Searching ...
{% endif %}


{% endif %}
{% endblock%}