{% block content %}

{% if word == 'Latest' %}
{% if language == 'hebrew' %}
הכי מאוחר
{% else %}
Latest
{% endif %}


{% elif word == 'Oldest' %}
{% if language == 'hebrew' %}
הוותיק ביותר
{% else %}
Oldest
{% endif %}


{% elif word == 'Random' %}
{% if language == 'hebrew' %}
אקראי
{% else %}
Random
{% endif %}


{% elif word == 'Want to see your photos here?' %}
{% if language == 'hebrew' %}
רוצה לראות את התמונות שלך כאן?
{% else %}
Want to see your photos here?
{% endif %}


{% elif word == 'Use' %}
{% if language == 'hebrew' %}
להשתמש
{% else %}
Use
{% endif %}


{% endif %}
{% endblock%}