{% block content %}

{% if word == 'Latest' %}
{% if language == 'hebrew' %}
Latest
{% else %}
Latest
{% endif %}


{% elif word == 'Oldest' %}
{% if language == 'hebrew' %}
Oldest
{% else %}
Oldest
{% endif %}


{% elif word == 'Random' %}
{% if language == 'hebrew' %}
Random
{% else %}
Random
{% endif %}


{% elif word == 'Want to see your photos here?' %}
{% if language == 'hebrew' %}
Want to see your photos here?
{% else %}
Want to see your photos here?
{% endif %}


{% elif word == 'Use' %}
{% if language == 'hebrew' %}
Use
{% else %}
Use
{% endif %}


{% endif %}
{% endblock%}