{% block content %}

<div class="header_block">
    <div class="header_center">
        <div class="header_logo">{{ HACKERSPACE_NAME }}</div>
        <div class="header_text">{{ HACKERSPACE_IS_SENTENCES.0|safe }}</div>
        <a href="#" class="cta_button w-inline-block">
        <div>Visit us!</div>
        <div class="cta_extra_info">
            {{ is_open_status|safe }}
        </div>
        </a>
    </div>
    <div class="header_separator"></div>
    <div class="header_image"></div>
</div>

{% endblock %}