{% load config %}
{% load text %}

{% block content %}

<div class="header_block">
    <div class="header_center">
        <div class="header_logo">{{ 'BASICS.NAME'|get_config }}</div>
        <div class="header_text">
        <span
            class="txt-rotate"
            data-period="2000"
            {% with HACKERSPACE_IS_SENTENCES='BASICS.HACKERSPACE_IS_SENTENCES'|get_config %}
            data-rotate='[ {{ HACKERSPACE_IS_SENTENCES|prepareForTextCarusel }} ]'>{{ HACKERSPACE_IS_SENTENCES.0 }}</span>
            {% endwith %}
        </div>
        {% if in_space %}
        <a href="#" onclick="marryspeak('{{ 'EXTRAS.SAYHELLO'|get_config }}');this.style.display='none'" class="button__cta">
            <div>Say hello!</div>
        </a>
        {% else %}
        <a href="#visit_us" class="button__cta">
            <div>Visit us!</div>
            <div id="open_status" class="cta_extra_info">
                {{ is_open_status|safe }}
            </div>
        </a>
        {% endif %}
    </div>
    <div class="header_separator"></div>
    <div class="header_image">
        <div class="header_dark_overlay"></div>
        <div id="photos_block">
            {% include "components/body/photos_list.html" with overlays=False %}
        </div>
    </div>
</div>

{% endblock %}