{% load text %}

{% block content %}

<div class="header_block">
    <div class="header_center">
        <div class="header_logo">{{ HACKERSPACE.HACKERSPACE_NAME }}</div>
        <div class="header_text">
        <span
            class="txt-rotate"
            data-period="2000"
            data-rotate='[ {{ HACKERSPACE.HACKERSPACE_IS_SENTENCES|prepareForTextCarusel }} ]'></span>
        </div>
        {% if inspace %}
        <a href="#" onclick="marryspeak('Hello fellow {{ HACKERSPACE.HACKERSPACE_PEOPLE_NAME }}');this.style.display='none'" class="cta_button">
            <div>Say hello!</div>
        </a>
        {% else %}
        <a href="#visit_us" class="cta_button">
            <div>Visit us!</div>
            <div id="open_status" class="cta_extra_info">
                {{ is_open_status|safe }}
            </div>
        </a>
        {% endif %}
    </div>
    <div class="header_separator"></div>
    <div class="header_image"></div>
</div>

{% endblock %}