.header_image {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    height: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.5)), to(hsla(0, 0%, 100%, 0.5))), url('../images/header_banner.jpg');
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.5), hsla(0, 0%, 100%, 0.5)), url('../images/header_banner.jpg');
    background-position: 0px 0px, 0% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}

.header_block {
    position: relative;
    overflow: hidden;
    height: 70vh;
    min-height: 400px;
}

.header_separator {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    z-index: 1;
    height: 80px;
    background-image: url('../images/separator.svg');
    background-position: 50% 0%;
    background-size: 105%;
    background-repeat: no-repeat;
}

.header_center {
    position: relative;
    z-index: 10;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 25px;
    padding-left: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.header_logo {
    padding: 6px 10px;
    border-radius: 20px;
    background-color: #fff;
    background-image: url('../images/header_logo.jpg');
    background-position: 50% 50%;
    background-size: 90%;
    background-repeat: no-repeat;
    color: transparent;
    font-size: 35px;
    line-height: 45px;
}

.header_text {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 14px 20px;
    border-radius: 20px;
    background-color: #fff;
    font-size: 25px;
    line-height: 30px;
}



.highlight_text_red {
    color: #ed1d23;
}

.cta_button {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 16px 45px 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #ed1d23;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

.cta_button.secondary {
    padding-top: 10px;
    padding-right: 25px;
    padding-left: 25px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    background-color: #fff;
    color: #ed1d23;
}

.cta_button.secondary.with_icon {
    padding-left: 44px;
    background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png');
    background-position: 5% 50%;
    background-size: auto 65%;
    background-repeat: no-repeat;
}

.cta_button.secondary.with_icon.plus_icon {
    background-image: url('../images/plus.svg');
}

.cta_extra_info {
    position: absolute;
    top: -22%;
    bottom: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 3px 10px 3px 5px;
    border-radius: 20px;
    background-color: #fff;
    color: #888;
    font-size: 13px;
    line-height: 14px;
    text-align: left;
}

.status-_code_icon {
    width: 13px;
    height: 13px;
    margin-right: 3px;
    border-radius: 20px;
    background-color: #00c52b;
}

@media (max-width: 479px) {
    .header_block {
        min-height: 400px;
    }
}