{% load text %}
{% load translate %}

{% block content %}

<div class="meeting_block full_width">
    <div class="max_540">
    <h2 class="h2 large{% if language == 'hebrew' %} rtl" align="right"{% else %}"{% endif %}>{{ 'Meeting Notes'|meetings:language }} | {{ selected.text_date }}</h2>
    <p class="subheading small_distance_bottom">{{ 'Keywords'|meetings:language }}:</p>
    <div>
        <div id="keywords" style="display: inline-block">
            {% if selected.text_keywords%}
                {% for keyword in selected.text_keywords|split:',' %}
                    <a href="#" onclick="enterSearch(this.innerText,'{{ 'Searching ...'|landingpage:language|safe }}',{% if language == 'hebrew' %}true{% else %}false{% endif %})" onhover="" class="keyword">{{ keyword }}<span class="button__remove_keyword" onclick="removeKeyword(event,this)"></span></a>
                {% endfor %}
            {% endif %}
        </div>
        <a href="#" id="keyword_add" onclick="showAddKeyword()" class="keyword add_button">Add</a>
        <input id="keyword_input" class="keyword input" style="display: none" ></input>
        <a href="#" id="keyword_save" onclick="saveKeyword('{{ 'Searching ...'|landingpage:language|safe }}',{% if language == 'hebrew' %}true{% else %}false{% endif %})" style="display: none" class="keyword save_button">Save</a>
    </div>
    {% if '<div ' in selected.text_notes %}
    {{ selected.text_notes|safe }}
    {% else %}
    <pre>{{ selected.text_notes }}</pre>
    {% endif %}
    <div class="divider_20"></div>
    </div>
</div>
<div class="divider_20"></div>
{% include "components/body/meetings/next_meeting.html" %}
<div class="divider_20"></div>
{% include "components/body/meetings/past_meetings.html" %}
<div class="divider_100"></div>

{% include "components/body/edit_this_page.html" %}


{% endblock %}