{% block content %}

{% if word == 'Landingpage' %}
Landingpage

{% elif word == 'About' %}
About

{% elif word == 'Values' %}
Values

{% elif word == 'Photos' %}
Photos

{% elif word == 'Participate' %}
Participate

{% elif word == 'Events' %}
Events

{% elif word == 'Projects' %}
Projects

{% elif word == 'Spaces' %}
Spaces

{% elif word == 'Machines' %}
Machines

{% elif word == 'Meetings' %}
Meetings

{% elif word == 'Consensus' %}
Consensus

{% elif word == 'Guildes' %}
Guildes

{% elif word == 'Search ...' %}
Search ...

{% elif word == 'Searching ...' %}
Searching ...

{% endif %}
{% endblock%}