{% load text %}
{% block content %}

{% for photo in photos %}
<a class="photo_preview_block{% if language == 'hebrew' %} rtl{% endif %}" target="_blank"
    href="{% if photo.url_post and not 'googleusercontent' in photo.url_image %}{{ photo.url_post }}{% else %}{{ photo.url_image }}{% endif %}">
    <div class="photo_preview" style="background-image: url('{{ photo.url_image }}')"></div>
    {% if overlays != False %}
    <div class="photo_details_overlay {{ photo.str_source|STR__class_name }}">
        <div class="photo_source {{ photo.str_source|STR__class_name }}">{{ photo.str_source }}</div>
        {% if photo.text_description_en_US %}
        <div class="photo_description">{{ photo.text_description_en_US }}</div>
        {% endif %}
        <div class="photo_time">{{ photo.str_relative_time }}</div>
    </div>
    {% endif %}
</a>
{% endfor %}
<div id="next_results"></div>

{% endblock %}