{% block content %}

<div class="header_block sub_page">
    <div class="header_separator"></div>
    <div class="header_image"></div>
</div>

<div class="max_540">
    <h2 class="h2 large">Big-C consensus items</h2>
    <a href="#bottom_content" class="inline_link">{% if all_current_items %}{{ all_current_items.count }}{% else %}0{% endif %} current item{% if all_current_items.count > 1 %}s{% endif %}</a>
    <br>
    <br>
    <div>
        Most things at {{ HACKERSPACE.HACKERSPACE_NAME }} at done via do-ocracy or small-c-consensus. But if you want to realize something that would change how Noisebridge operates in a drastical way - or if Noisebridge should spend a lot of money on something - add a big-c consensus item. In the next 2 weeks we then discuss that item during the Weekly General Meeting, before it gets approved - if no member objects.<br>
        <br>
        <a class="inline_link" href="https://www.noisebridge.net/wiki/Consensus_Process" target="_blank">Learn more on our wiki</a>
        <br>
        <br>
        <a href="{{ HACKERSPACE.HACKERSPACE_DISCOURSE_URL }}c/consensus-items" target="_blank" class="button__cta inline">Add a consensus item</a>
    </div>
    <div class="divider_20"></div>
    <div class="divider_20"></div>
</div>

<div id="bottom_content" class="visually_separated_content">
    <div class="header_separator upside"></div>

    <div class="divider_100"></div>
    <div class="max_540">
        <a id="tab_heading__current" href="#bottom_content" onclick="showActiveTab('current')" name="tab_heading" class="tab_heading active">Current</a>
        <a id="tab_heading__archive" href="#bottom_content" onclick="showActiveTab('archive')" name="tab_heading" class="tab_heading">Archive</a>
    </div>
    <div id="tab__current" name="tabs" class="max_540">
        {% if not all_current_items %}
        Currently no archived consensus items
        {% else %}
        {% for result in all_current_items %}
        {% include "components/body/consensus_item_preview.html" %}
        {% endfor %}
        {% endif %}
    </div>
    <div id="tab__archive" name="tabs" class="max_540">
        {% if not all_archived_items %}
        Currently no archived consensus items
        {% else %}
        {% for result in all_archived_items %}
        {% include "components/body/consensus_item_preview.html" %}
        {% endfor %}
        {% endif %}
    </div>
    <div class="divider_100"></div>


</div>

{% include "components/body/edit_this_page.html" %}


{% endblock %}