{% load config %}
{% load secrets %}
{% load translate %}
{% block content %}

<div class="header_block sub_page">
    <div class="header_separator"></div>
    <div class="header_image"></div>
</div>

<div class="max_540">
    <h2 class="h2 large{% if language == 'hebrew' %} rtl" align="right"{% else %}"{% endif %}>Big-C consensus items</h2>
    <a href="#bottom_content" class="inline_link">{% if all_current_items %}{{ all_current_items.count }}{% else %}0{% endif %} current item{% if all_current_items.count > 1 or all_current_items.count == 0 %}s{% endif %}</a>
    <br>
    <br>
    <div>
        {% with NAME='BASICS.NAME'|get_config %}
        Most things at {{ NAME }} at done via do-ocracy or small-c-consensus. But if you want to realize something that would change how {{ NAME }} operates in a drastical way - or if {{ NAME }} should spend a lot of money on something - add a big-c consensus item. In the next 2 weeks we then discuss that item during the Weekly General Meeting, before it gets approved - if no member objects.<br>
        {% endwith %}

        {% if 'CONSENSUS_ITEMS.CONSENSUS_PROCESS_WIKIPAGE'|get_config %}
        <br>
        <a class="inline_link" href="{{ 'CONSENSUS_ITEMS.CONSENSUS_PROCESS_WIKIPAGE'|get_config }}" target="_blank">Learn more on our wiki</a>
        {% endif %}

        {% if 'DISCOURSE.CONSENSUS_DISCOURSE_CATEGORY_URL'|get_key %}
        <br>
        <br>
        <a href="{{ 'CONSENSUS_ITEMS.CONSENSUS_DISCOURSE_CATEGORY_URL'|get_key }}" target="_blank" class="button__cta inline">Add a consensus item</a>
        {% endif %}
    </div>
    <div class="divider_20"></div>
    <div class="divider_20"></div>
</div>

<div id="bottom_content" class="visually_separated_content">
    <div class="header_separator upside"></div>

    <div class="divider_100"></div>
    <div class="max_540">
        <a id="tab_heading__current" href="#bottom_content" onclick="showActiveTab('current')" name="tab_heading" class="tab_heading active">Current</a>
        <a id="tab_heading__archive" href="#bottom_content" onclick="showActiveTab('archive')" name="tab_heading" class="tab_heading">Archive</a>
    </div>
    <div id="tab__current" name="tabs" class="max_540">
        {% if not all_current_items %}
        No current consensus items
        {% else %}
        {% include "components/body/consensus_items_entries.html" with all_items=all_current_items specific_selector='_current' %}
        {% if all_current_items_count > 10 %}
        <a href="#button__show_more" id="button__show_more_current" onclick="showMore('{{ show_more }}','_current')" class="button__cta secondary"{% if language == 'hebrew' %} align="right"{% endif %}>{{ 'Show more'|landingpage:language|safe }}</a>
        {% endif %}
        {% endif %}
    </div>
    <div id="tab__archive" style="display: none" name="tabs" class="max_540">
        {% if not all_archived_items %}
        No archived consensus items
        {% else %}
        {% include "components/body/consensus_items_entries.html" with all_items=all_archived_items next_results_id_addition='_archive' %}
        {% if all_archived_items_count > 10 %}
        <a href="#button__show_more" id="button__show_more_archived" onclick="showMore('{{ show_more }}','_archived')" class="button__cta secondary"{% if language == 'hebrew' %} align="right"{% endif %}>{{ 'Show more'|landingpage:language|safe }}</a>
        {% endif %}
        {% endif %}
    </div>
    <div class="divider_100"></div>


</div>

{% include "components/body/edit_this_page.html" %}


{% endblock %}