{% load array %}
{% load text %}
{% block content %}

<div class="header_block sub_page">
    <div class="header_separator"></div>
    <div class="header_image" {% if selected.url_featured_photo %} style="
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.5)), to(hsla(0, 0%, 100%, 0.5))), url('{{ selected.url_featured_photo }}');
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.5), hsla(0, 0%, 100%, 0.5)), url('{{ selected.url_featured_photo }}');
    " {% endif %}></div>
</div>

<div class="divider_20"></div>
<div class="max_540">
    {% if selected.boolean_approved == False %}
    <div class="new_event_info">
        This event was submitted and doesn't show up in the search yet.<br>
        If no one at {{ HACKERSPACE.HACKERSPACE_NAME }} rejects this event (because it's spam or a duplicate for example), it will be automatically published<br><strong>{{ selected.str_relative_publish_time }}</strong>.<br>
        <br>
        Want to have the event published earlier? Ask someone at {{ HACKERSPACE.HACKERSPACE_NAME }} with a user account for this website to confirm the event or to create a user account for you.
    </div>
    {% endif %}
    <div class="sub_heading text_semitransparent">{% if selected.str_relative_time %}{{ selected.str_relative_time }}, {% endif %}{{ selected.datetime_range }}{% if selected.one_space %} | <a class="inline_link" href="/{{ selected.one_space.str_slug }}" target="_blank">{{ selected.one_space.str_name }}</a>{% endif %}</div>
    <h2 class="h2 large">{{ selected.str_name|TEXT_replaceLinkCSS|safe }}</h2>
    {% if selected.url_meetup_event %}
    <a href="{{ selected.url_meetup_event }}" target="_blank" class="button__cta inline">RSVP</a>
    {% endif %}
    {% if user.is_authenticated and selected.boolean_approved == False %}
    <div id="button__approve_event" onclick="approveEvent('{{ selected.str_slug }}')" class="button__cta inline">Approve event</div>
    {% endif %}
    {% if selected.boolean_approved == False %}
    <div id="button__delete_event" onclick="deleteEvent('{{ selected.str_slug }}')" class="button__cta secondary inline">Delete event{% if selected.int_series_startUNIX %} series{% endif %}</div>
    <br>
    <br>
    {% endif %}
    {% if selected.url_discourse_wish %}
    <a href="{{ selected.url_discourse_wish }}" target="_blank" class="button__cta secondary inline">Voolunteer</a>
    {% endif %}
    {% if selected.url_meetup_event or selected.url_discourse_wish %}
    <br>
    <br>
    {% endif %}
    {% if selected.text_description|length > 350 %}
    <div id="event_description" class="text_box_max_height">{{ selected.text_description|TEXT_replaceLinkCSS|safe }}</div>
    <div class="inline_link" onclick="showFullDescription('event_description',this)">Show full description</div>
    {% else %}
    <div>{{ selected.text_description|TEXT_replaceLinkCSS|safe }}</div>
    {% endif %}
</div>

<div class="divider_20"></div>

<div class="max_540">
    <div class="blocks_inline_50_percent">
        <h2 class="h2 large">Location</h2>
        <div>
        {% if HACKERSPACE.HACKERSPACE_ADDRESS.STREET not in selected.str_location %}
        {{ selected.str_location }}
        {% else %}
        {{ HACKERSPACE.HACKERSPACE_NAME }}<br>
        {{ HACKERSPACE.HACKERSPACE_ADDRESS.STREET }}<br>
        {{ HACKERSPACE.HACKERSPACE_ADDRESS.ZIP }} {{ HACKERSPACE.HACKERSPACE_ADDRESS.CITY }}, {{ HACKERSPACE.HACKERSPACE_ADDRESS.COUNTRYCODE }}
        {% endif %}
        </div>
    </div>
    {% if selected.many_hosts.exists %}
    <div class="blocks_inline_50_percent">
        <h2 class="h2 large">Hosts</h2>
        {% for host in selected.many_hosts.all %}
        <a class="host_link" href="{{ host.url_discourse }}" target="_blank">
            <div class="host_preview_image" style="background-image: url('{{ host.url_featured_photo }}')"></div>
            <div>{{ host.str_name|STR__first_name }}</div>
        </a>
        {% endfor %}
    </div>
</div>

<div class="divider_20"></div>

<div class="max_540">
    {% endif %}
    
    {% if selected.one_space %}
    <div class="blocks_inline_50_percent">
        <h2 class="h2 large">Space</h2>
        {% include "components/body/result_preview_block.html" with result=selected.one_space %}
    </div>
    {% endif %}
    {% if selected.one_guilde %}
    <div class="blocks_inline_50_percent">
        <h2 class="h2 large">Guilde</h2>
        {% include "components/body/result_preview_block.html" with result=selected.one_guilde %}
    </div>
    {% endif %}
</div>

<div class="divider_20"></div>
<div class="divider_20"></div>

<div class="visually_separated_content">
    <div class="header_separator upside"></div>

    <div class="divider_100"></div>
    <div class="max_540">
        {% if selected.next_event %}
        <div class="blocks_inline_50_percent">
            <h2 class="h2 large">Join us next time!</h2>
            {% include "components/body/result_preview_block.html" with change_contrast=True result=selected.next_event %}
        </div>
        {% endif %}
        {% if selected.similar_events %}
        <div class="blocks_inline_50_percent">
            <h2 class="h2 large">Similar events</h2>
            {% for result in selected.similar_events %}
            {% include "components/body/result_preview_block.html" with change_contrast=True %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="divider_100"></div>
</div>

{% include "components/body/edit_this_page.html" %}

{% endblock %}