{% block content %}

<div class="header_block sub_page">
    <div class="header_separator"></div>
    <div class="header_image"></div>
</div>

<div class="max_540">
    <h2 class="h2 large">Guildes</h2>
    <div>
        A guilde is a group at Noisebridge with a common interest area, responsible for specific spaces and machines at Noisebridge.<br>
        <br>
        <a class="inline_link" href="#">Show full wiki page</a>
        <br>
        <br>
        {% if user.is_authenticated %}
        <a href="/{{ ADMIN_URL }}/hackerspace/guilde/add/" target="_blank" class="button__cta inline">Add a guilde</a>
        {% endif %}
    </div>
    <div class="divider_20"></div>
    <div class="divider_20"></div>
</div>

<div class="visually_separated_content">
    <div class="header_separator upside"></div>

    <div class="divider_100"></div>
    <div class="max_540">
        {% for result in all_guildes %}
        {% include "components/body/result_preview_block.html" with change_contrast=True %}
        {% endfor %}
    </div>
    <div class="divider_100"></div>


</div>

{% include "components/body/edit_this_page.html" %}

{% endblock %}