{% block content %}

<div class="header_block sub_page">
    <div class="header_separator"></div>
    <div class="header_image"></div>
</div>

<div class="max_500">
    <h2 class="h2 large">Guildes</h2>
    <div>
        A guilde is a group at Noisebridge with a common interest area, responsible for specific spaces and machines at Noisebridge.<br>
        <br>
        <a class="inline_link" href="#">Show full wiki page<a>
    </div>
    <div class="divider_20"></div>
    
    
</div>


{% endblock %}