{% block content %}

{% include "components/head/head.html" with css_files=css_files %}

<body class="body" onload="onLoadFunctions()">
  {% include "components/menu.html" %}
  <div class="page_content">
    <div id="dark_overlay" class="dark_overlay" onclick="closeOverlays()"></div>
    <a href="#" onclick="openMenu()" class="menu_icon"></a>
    <a href="#" class="donate_button">Donate</a>
    {% include "components/header/landingpage.html" %}
    {% include "components/body/events_slider.html" %}
    <div class="divider_20"></div>
    {% include "components/body/quick_access_icons.html" %}
    <div class="divider_20"></div>
    {% include "components/body/landing_do_i_belong.html" %}
    <div class="divider_20"></div>
    {% include "components/body/landing_visit_us.html" %}
    {% include "components/body/landing_please_donate.html" %}
    {% include "components/footer.html" %}
  </div>
</body>
</html>

{% endblock %}