{% block content %}

{% include "components/head/head.html" with css_files=css_files %}

<body class="body">
  {% include "components/header/landingpage.html" %}
  {% include "components/body/events_slider.html" %}
  
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  {% comment %} <script src="js/webflow.js" type="text/javascript"></script> {% endcomment %}
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
</html>

{% endblock %}