{% block content %}

{% include "components/head/head.html" with css_files=css_files %}

<body class="body">
  {% include "components/header/landingpage.html" %}
  
  <div class="events_slider_section">
    <div class="result_preview placeholder_left"></div>
    <div class="result_preview w-clearfix">
      <div class="result_preview_relative_time repeating_day">every Monday</div>
      <div class="result_preview_relative_time">Now</div>
      <div class="result_preview_left">
        <div class="h2">Circuit Hacking Mondays - ...</div>
        <div class="divider_10"></div>
        <div class="text_semitransparent">Oct 5 | 2PM - 6:30 PM</div>
      </div>
      <div class="result_preview_right"></div>
    </div>
    <div class="result_preview w-clearfix">
      <div class="result_preview_relative_time repeating_day">every Monday</div>
      <div class="result_preview_relative_time">Now</div>
      <div class="result_preview_left">
        <div class="h2">Circuit Hacking Mondays - ...</div>
        <div class="divider_10"></div>
        <div class="text_semitransparent">Oct 5 | 2PM - 6:30 PM</div>
      </div>
      <div class="result_preview_right"></div>
    </div>
    <div class="result_preview w-clearfix">
      <div class="result_preview_relative_time repeating_day">every Monday</div>
      <div class="result_preview_relative_time">Now</div>
      <div class="result_preview_left">
        <div class="h2">Circuit Hacking Mondays - ...</div>
        <div class="divider_10"></div>
        <div class="text_semitransparent">Oct 5 | 2PM - 6:30 PM</div>
      </div>
      <div class="result_preview_right"></div>
    </div>
    <div class="result_preview w-clearfix">
      <div class="result_preview_relative_time repeating_day">every Monday</div>
      <div class="result_preview_relative_time">Now</div>
      <div class="result_preview_left">
        <div class="h2">Circuit Hacking Mondays - ...</div>
        <div class="divider_10"></div>
        <div class="text_semitransparent">Oct 5 | 2PM - 6:30 PM</div>
      </div>
      <div class="result_preview_right"></div>
    </div>
    <div class="result_preview w-clearfix">
      <div class="result_preview_relative_time repeating_day">every Monday</div>
      <div class="result_preview_relative_time">Now</div>
      <div class="result_preview_left">
        <div class="h2">Circuit Hacking Mondays - ...</div>
        <div class="divider_10"></div>
        <div class="text_semitransparent">Oct 5 | 2PM - 6:30 PM</div>
      </div>
      <div class="result_preview_right"></div>
    </div>
    <div class="event_slider_extra_options_block"><a href="#" class="cta_button secondary">Show all</a>
      <div class="divider_10"></div><a href="#" class="cta_button secondary with_icon plus_icon">Create an event</a></div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  {% comment %} <script src="js/webflow.js" type="text/javascript"></script> {% endcomment %}
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
</html>

{% endblock %}