{% block content %}

{% include "components/header/landingpage.html" %}
{% include "components/body/events_slider.html" %}
<div class="divider_20"></div>
{% include "components/body/quick_access_icons.html" %}
<div class="divider_20"></div>
{% include "components/body/landing_do_i_belong.html" %}
<div class="divider_20"></div>
{% include "components/body/landing_visit_us.html" %}
{% include "components/body/landing_please_donate.html" %}

{% include "components/body/edit_this_page.html" %}

{% endblock %}