{% block content %}

<div class="header_block sub_page">
    <div class="header_separator"></div>
    <div class="header_image"></div>
</div>

<div class="max_540">
    <h2 class="h2 large">Machines</h2>
    <div>
        We have many super useful machines at {{ HACKERSPACE.HACKERSPACE_NAME }}, allowing you to build nearly everything you want to build!<br>
        <br>
        <a class="inline_link" href="#">Show full wiki page</a>
    </div>
    <div class="divider_20"></div>
    <div class="divider_20"></div>
</div>

<div class="visually_separated_content">
    <div class="header_separator upside"></div>

    <div class="divider_100"></div>
    <div class="max_540">
        {% for result in all_machines %}
        {% include "components/body/result_preview_block.html" with change_contrast=True %}
        {% endfor %}
    </div>
    <div class="divider_100"></div>


</div>

{% include "components/body/edit_this_page.html" %}

{% endblock %}