{% block content %}

{% include "components/head/head.html" with css_files=css_files %}

<body onload="onLoadFunctions('{{ slug }}')" class="meeting_note_present_body">

    <div id="dark_overlay" class="dark_overlay" onclick="closeOverlays()">
        {% include "components/overlays/meeting_over.html" %}
    </div>
    
    <div class="notes_embedded" id="notes_embedded">
        <iframe class="presenter_mode_meeting" src="https://pad.riseup.net/p/{{ HACKERSPACE.RISEUPPAD_MEETING_PATH }}"></iframe>
    </div>
    <div class="meeting_presenter_mode_header">
        <div id="current_time_text" class="current_time_text">Currently:</div>
        <input type="hidden" id="current_meeting_topic" value="1"></input>
        {% for main_topic in current_meeting.list_main_topics %}
        <div class="meeting_topic_block" id="meeting_topic_{{ forloop.counter }}"{% if forloop.counter > 1 %} style="display: none"{% endif %}>
            <h2 class="h2 meeting_present"{% if main_topic == 'Discussion' %} style="width: auto"{% endif %}>{{ main_topic }}</h2>
            {% if main_topic == 'Discussion' %}
            <input class="discussion_topic_input" placeholder="Enter topic"></input>
            {% endif %}
        </div>
        {% endfor %}
        <div class="presenter_mode_buttons">
            <a id="previous_meeting_button" onclick="previousMeetingTopic()" href="#" class="cta_button secondary" style="display: none;">Previous</a>
            <div class="inline_divider"></div>
            <a id="next_meeting_button" onclick="nextMeetingTopic()" href="#" class="cta_button secondary" style="display: inline-block;">Next topic</a>
        </div>
    </div>
    <div class="meeting_live_text">
        <div class="live_icon"></div>
        <div class="meeting_live_text_span">Live</div>
        <div class="meeting_live_text_span">
            <span class="text-span">
            {% if HACKERSPACE.DOMAIN in request.META.HTTP_HOST %}https://{% else %}http://{% endif %}</span>
            {{ request.META.HTTP_HOST }}/meeting</div>
    </div>
    <a href="#" onclick="showOverlay()" class="cta_button secondary end_meeting">End meeting</a>
</body>
</html>

{% endblock %}