{% load text %}

{% block content %}

<div class="meeting_block full_width">
    <div class="max_500">
    <h2 class="h2 large">Meeting Notes | {{ selected_meeting.text_date }}</h2>
    {% if selected_meeting.text_keywords %}
    <p class="subheading small_distance_bottom">Keywords:</p>
    <div>
        {% for keyword in selected_meeting.text_keywords|split:',' %}
        <a href="#" onclick="enterSearch(this.innerText)" class="keyword">{{ keyword }}</a>
        {% endfor %}
    </div>
    {% endif %}
    {% if '<div ' in selected_meeting.text_notes %}
    {{ selected_meeting.text_notes|safe }}
    {% else %}
    <pre>{{ selected_meeting.text_notes }}</pre>
    {% endif %}
    <div class="divider_20"></div>
    </div>
</div>
<div class="divider_20"></div>
{% include "components/body/meetings/next_meeting.html" %}
<div class="divider_20"></div>
<div class="divider_20"></div>
{% include "components/body/meetings/past_meetings.html" %}

{% endblock %}