{% block content %}

{% include "components/head/head.html" with css_files=css_files %}

<body class="body" onload="onLoadFunctions('{{ slug }}')">
  {% include "components/menu.html" %}
  <div class="page_content" style="overflow: hidden;">
    <div id="dark_overlay" class="dark_overlay" onclick="closeOverlays()">
      {% include "components/overlays/donate.html" %}
    </div>
    <a href="#" onclick="openMenu()" class="menu_icon"></a>
    <a href="#" onclick="showOverlay('donate')" class="button__donate">Donate</a>
    <div id="page_content">
      {% include ""|add:view|add:'.html' %}
    </div>
    {% include "components/footer.html" %}
  </div>
</body>
</html>

{% endblock %}