{% block content %}

{% include "components/head/head.html" with css_files=css_files %}

<body class="body" onload="onLoadFunctions('{{ slug }}')">
  {% include "components/menu.html" %}
  <div class="page_content" style="overflow: hidden;">
    <div id="dark_overlay" class="dark_overlay" onclick="clearSearch();closeOverlays()">
      {% include "components/overlays/donate.html" %}
    </div>
    <div onclick="openMenu()" class="menu_icon"></div>
    <div onclick="showOverlay('donate')" class="button__donate">Donate</div>
    <div id="page_content">
      {% if all_results %}
      {% include "results_list.html" %}
      {% else %}
      {% include ""|add:view|add:'.html' %}
      {% endif %}
    </div>
    {% include "components/footer.html" %}
  </div>
</body>
</html>

{% endblock %}