{% block content %}

<div class="header_block sub_page">
    <div class="header_separator"></div>
    <div class="header_image"></div>
</div>

<div class="max_540">
    <h2 class="h2 large">Project</h2>
    <div>
        At {{ HACKERSPACE.HACKERSPACE_NAME }} fellow hackers like you created all kinds of awesome projects - both their own and projects for the space. Check them out - and create your own one!
        <br>
        <br>
        <a href="{{ HACKERSPACE.HACKERSPACE_DISCOURSE_URL }}c/projects/" target="_blank" class="button__cta inline">Add a project</a>
    </div>
    <div class="divider_20"></div>
    <div class="divider_20"></div>
</div>

<div class="visually_separated_content">
    <div class="header_separator upside"></div>

    <div class="divider_100"></div>
    <div class="max_540">
        {% for result in all_projects %}
        {% include "components/body/result_preview_block.html" with change_contrast=True url_external=result.url_discourse %}
        {% endfor %}
    </div>
    <div class="divider_100"></div>


</div>

{% include "components/body/edit_this_page.html" %}


{% endblock %}