{% load array %}
{% load process_text %}
{% block content %}

<div class="header_block sub_page">
    <div class="header_separator"></div>
    <div {% if selected.url_featured_photo %}style="background-image: url('{{ selected.url_featured_photo }}')" {% endif %}class="header_image"></div>
</div>

<div class="divider_20"></div>
<div class="max_540">
    <h2 class="h2 large">{{ selected.str_name }}</h2>
    <div>
        {{ selected.text_description|findSearches|safe }}<br>
        <br>
        {% if selected.url_discourse %}
        <a class="inline_link" href="{{ selected.url_discourse }}" target="_blank">Show discourse page</a>
        {% endif %}
    </div>
</div>

<div class="divider_20"></div>
<div class="divider_20"></div>

<div class="visually_separated_content">
    <div class="header_separator upside"></div>

    <div class="divider_100"></div>
    


</div>

{% include "components/body/edit_this_page.html" %}

{% endblock %}