{% load array %}
{% load text %}
{% load config %}
{% load translate %}
{% block content %}

{% with MODULES='MODULES'|get_config %}

<div class="header_block sub_page">
    <div class="header_separator"></div>
    <div class="header_image" {% if selected.url_featured_photo or selected.image_featured_photo %} style="
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.5)), to(hsla(0, 0%, 100%, 0.5))), url('{% if selected.url_featured_photo %}{{ selected.url_featured_photo }}{% else %}{{ selected.image_featured_photo }}{% endif %}');
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.5), hsla(0, 0%, 100%, 0.5)), url('{% if selected.url_featured_photo %}{{ selected.url_featured_photo }}{% else %}{{ selected.image_featured_photo }}{% endif %}');
    " {% endif %}></div>
</div>

<div class=" divider_20"></div>
<div class="max_540">
    <h2 class="h2 large{% if language == 'hebrew' %} rtl" align="right" {% else %}"{% endif %}>
        {% if language == 'hebrew' and selected.str_name_he_IL %}
        {{ selected.str_name_he_IL|TEXT_replaceLinkCSS|safe }}
        {% else %}
        {{ selected.str_name_en_US|TEXT_replaceLinkCSS|safe }}
        {% endif %}
    </h2>
    <div>
        {% if language == 'hebrew' and selected.text_description_he_IL %}
        {{ selected.text_description_he_IL|TEXT_replaceLinkCSS|safe }}
        {% elif selected.text_description_en_US %}
        {{ selected.text_description_en_US|findSearches:'Searching ...'|landingpage:language|safe }}<br>
        <br>
        {% endif %}
        {% if selected.url_wiki %}
        <a class="inline_link" href="{{ selected.url_wiki }}" target="_blank">Show full wiki page</a>
        {% endif %}
    </div>
</div>

<div class="divider_20"></div>
<div class="divider_20"></div>

<div class="visually_separated_content">
    <div class="header_separator upside"></div>

    <div class="divider_100"></div>
    <div class="max_540">
        {% if selected.machines and 'Machines' in MODULES %}
        <div class="blocks_inline_50_percent">
            <h2 class="h2 large{% if language == 'hebrew' %} rtl" align="right" {% else %}"{% endif %}>Machines</h2>
            {% for result in selected.machines|upto:3 %}
            {% include "components/body/result_preview_block.html" with change_contrast=True %}
            {% endfor %}
            <div id="next_results_machines"></div>
            {% if selected.machines.count > 3 %}
            <input type="hidden" id="more_start_from_machines" value="3"></input>
            <a href="#button__show_more_machines" id="button__show_more_machines"
                onclick="showMore('machines','_machines')" class="button__cta secondary" {% if language == 'hebrew' %}
                align="right" {% endif %}>{{ 'Show more'|landingpage:language|safe }}</a>
            {% endif %}
            <div onclick="showOverlay('donate')" class="button__cta secondary">Donate hardware</div>
        </div>
        {% endif %}
        {% if selected.events and 'Events|View' in MODULES %}
        <div class="blocks_inline_50_percent">
            <h2 class="h2 large{% if language == 'hebrew' %} rtl" align="right" {% else %}"{% endif %}>
                {{ 'Events'|menu:language }}</h2>
            {% for result in selected.events|upto:3 %}
            {% include "components/body/result_preview_block.html" with change_contrast=True %}
            {% endfor %}
            <div id="next_results_events"></div>
            {% if selected.events.count > 3 %}
            <input type="hidden" id="more_start_from_events" value="3"></input>
            <a href="#button__show_more_events" id="button__show_more_events" onclick="showMore('events','_events')"
                class="button__cta secondary" {% if language == 'hebrew' %} align="right"
                {% endif %}>{{ 'Show more'|landingpage:language|safe }}</a>
            {% endif %}
        </div>
        {% endif %}
    </div>
    <div class="divider_100"></div>
    <div class="max_540">
        {% if selected.one_guilde and 'Guildes' in MODULES %}
        <div class="blocks_inline_50_percent">
            <h2 class="h2 large{% if language == 'hebrew' %} rtl" align="right" {% else %}"{% endif %}>Guilde</h2>
            {% include "components/body/result_preview_block.html" with change_contrast=True result=selected.one_guilde %}
        </div>
        {% endif %}
    </div>
</div>

{% endwith %}

{% include "components/body/edit_this_page.html" %}

{% endblock %}