{% load array %}
{% load text %}
{% block content %}

<div class="header_block sub_page">
    <div class="header_separator"></div>
    <div class="header_image" {% if selected.url_featured_photo %} style="
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.5)), to(hsla(0, 0%, 100%, 0.5))), url('{{ selected.url_featured_photo }}');
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.5), hsla(0, 0%, 100%, 0.5)), url('{{ selected.url_featured_photo }}');
    " {% endif %}></div>
</div>

<div class="divider_20"></div>
<div class="max_540">
    <h2 class="h2 large">{{ selected.str_name }}</h2>
    <div>
        {% if selected.text_description %}
        {{ selected.text_description|findSearches|safe }}<br>
        <br>
        {% endif %}
        {% if selected.url_wiki %}
        <a class="inline_link" href="{{ selected.url_wiki }}" target="_blank">Show full wiki page</a>
        {% endif %}
    </div>
</div>

<div class="divider_20"></div>
<div class="divider_20"></div>

<div class="visually_separated_content">
    <div class="header_separator upside"></div>

    <div class="divider_100"></div>
    <div class="max_540">
        {% if selected.machines %}
        <div class="blocks_inline_50_percent">
            <h2 class="h2 large">Machines</h2>
            {% for result in selected.machines|upto:3 %}
            {% include "components/body/result_preview_block.html" with change_contrast=True %}
            {% endfor %}
        </div>
        {% endif %}
        {% if selected.one_guilde %}
        <div class="blocks_inline_50_percent">
            <h2 class="h2 large">Guilde</h2>
            {% include "components/body/result_preview_block.html" with change_contrast=True result=selected.one_guilde %}
        </div>
        {% endif %}
    </div>
    <div class="divider_100"></div>


</div>

{% include "components/body/edit_this_page.html" %}

{% endblock %}