{% load config %}
{% block content %}

{% with NAME='BASICS.NAME'|get_config %}

<div class="header_block sub_page">
    <div class="header_separator"></div>
    <div class="header_image"></div>
</div>

<div class="divider_20"></div>

<div class="max_540">
    <h2 class="h2 large">We have ONE rule:<br>Be excellent to each other!</h2>
    <p class="paragraph">
    {{ NAME }} is an anarchist hackerspace, where you can come and do everything you would like to - as long as you follow our one rule: Be excellent to others & yourself.
    </p>
</div>

<div class="divider_20"></div>

<div class="max_540">
    <h2 class="h2 large">How to participate?</h2>
    <p class="paragraph">
    Most of what happens at {{ NAME }} is done via do-ocracy - if you want to see something happening, make it happen - as long as you are excellent to others and yourself. If you like to participate (which is super excellent!), you can do it in many ways, for example:<br> 
    <ul>
    <li>work on cool things you care about & have a great time at {{ NAME }}</li>
    <li><span onclick="showOverlay('donate')" class="inline_link">donate money or hardware</span></li>
    <li>get in conversations with others and ask what they work on & if you can help in any way</li>
    <li><a href="/event/new" onclick="event.preventDefault();getPage('/event/new','menu_h_events')" class="inline_link">organize an event or support existing ones</a></li>
    <li>help cleaning up the space</li>
    <li>give welcoming tours to new people in the space</li>
    <li>& much more.</li>
    </ul>
    </p>
</div>


<div class="divider_20"></div>

<div class="max_540">
    <h2 class="h2 large">Safespace/Bravespace</h2>
    <p class="paragraph">
    All the excellent people coming to {{ NAME }} should be able to feel comfortable at the space. That means if anyone is harassing you /  makes you feel unsafe, it’s perfectly excellent to ask that person to leave and take a break.<br>
    <br>
    However, that doesn’t mean you aren’t able to discuss controversal topics at {{ NAME }}. But be mindful about having a rational, respectful, mature discussion with others, even if you strongly disagree with them.<br>
    <br>
    If you feel a situation surpresses aspects of your speech and your speech wasn’t intended to be hurtful, talk with people in the space in person about it.
    </p>
</div>

{% if 'BASICS.ABOUT.HISTORY_HTML'|get_config %}

<div class="divider_20"></div>
<div class="max_540">
    <h2 class="h2 large">{{ NAME }}'s history:<br>The Up's, Down's & Learnings</h2>
    <p class="paragraph">
    {{ 'BASICS.ABOUT.HISTORY_HTML'|get_config|safe }}
    </p>
</div>
{% endif %}

<div class="divider_100"></div>

{% endwith %}

{% include "components/body/edit_this_page.html" %}

{% endblock %}