{% load array %}
{% load socialnetworks %}

{% block content %}

<div class="footer">
    <div>Talk with your fellow {{ HACKERSPACE.HACKERSPACE_PEOPLE_NAME }}!</div>
    {% for platform in HACKERSPACE.HACKERSPACE_INTERNAL_COMMUNICATION_PLATFORMS %}
    <a href="{{ platform.url }}" target="_blank" class="link">on {{ platform.name }}</a>
    {% endfor %}
    <div class="divider_20"></div>
    <div>And join us online!</div>
    <div class="divider_10"></div>
    {% for network in HACKERSPACE.HACKERSPACE_SOCIAL_NETWORKS|upto:5 %}
        {% if network.name|lower != 'twitter' %}
        <a href="{{ network.url }}" target="_blank" class="social_icon {{ network.name|lower }}"></a>
        {% endif %}
    {% endfor %}
    <div class="divider_20"></div>
    <div class="divider_20"></div>
    <div>Edit our website!</div>
    <a href="{{ HACKERSPACE.WEBSITE_GIT }}" target="_blank" class="link">on {{ HACKERSPACE.WEBSITE_GIT_PROVIDER }}</a>
    <div class="divider_20"></div>
    <div class="divider_20"></div>
    <div>
        {% if HACKERSPACE.HACKERSPACE_SOCIAL_NETWORKS|exists:'Twitter' %}
        <div class="footer_half_block" style="float: left">
            <a class="twitter-timeline" href="https://twitter.com/{{ HACKERSPACE.HACKERSPACE_SOCIAL_NETWORKS|getTwitterUsername }}?ref_src=twsrc%5Etfw" data-width="100%" data-height="100%">Tweets by {{ HACKERSPACE.HACKERSPACE_SOCIAL_NETWORKS|getTwitterUsername }}</a>
            <script async="" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        {% endif %}
        <div class="footer_half_block">
            <div class="divider_20"></div>
            <div>Did you know?<br>Hackerspaces exists all over the world!</div>
            <div class="divider_20"></div>
            <a href="https://wiki.hackerspaces.org/List_of_Hackerspaces" target="_blank" class="hackerspace_map w-inline-block"></a>
            <a href="https://wiki.hackerspaces.org/List_of_Hackerspaces" target="_blank" class="cta_button secondary move_up">Show all</a>
        </div>
    </div>
</div>

{% endblock %}