{% block content %}

<div id="side_menu" class="side_menu">
    <div id="search_bar" class="search_bar">
      <input id="search_input" class="search_input" placeholder="Search" oninput="search(this.value)"></input>
      <div id="search_results"></div>
    </div>
    <a href="#" onclick="getPage('/')" class="menu_heading">Landingpage</a>
    <a href="#" onclick="getPage('/about')" class="menu_heading">About</a>
    <a href="#" onclick="getPage('/about#values')" class="menu_heading sub_heading">Values</a>
    <a href="#" onclick="getPage('/about#manual')" class="menu_heading sub_heading">Manual</a>
    <a href="#" onclick="getPage('/photos')" class="menu_heading sub_heading">Photos</a>
    <a href="#" onclick="getPage('/events')" class="menu_heading">Events</a>
    <a href="#" onclick="getPage('/meetings')" class="menu_heading">Meetings</a>
    <a href="#" onclick="getPage('/spaces')" class="menu_heading">Spaces / Tour</a>
    <a href="#" onclick="getPage('/machines')" class="menu_heading">Machines</a>
    <a href="#" onclick="getPage('/consensus')" class="menu_heading">Consensus Items</a>
</div>

{% endblock %}