{% load config %}
{% block content %}

{% if word == 'SPACE is funded by donations. ...' %}
{{ 'BASICS.NAME'|get_config }} is funded by YOUR donations.<br>
So please help us keeping {{ 'BASICS.NAME'|get_config }} alive & growing! With money, hardware or your time!

{% elif word == 'Donations are tax deductible.' %}
Donations are tax deductible.

{% elif word == 'Donate money' %}
Donate<br>
money

{% elif word == 'Donate hardware' %}
Donate<br>
hardware

{% elif word == 'Organize an event' %}
Organize<br>
an event

{% elif word == 'Volunteer at an event' %}
Volunteer<br>
at an event

{% elif word == 'Volunteer at an event' %}
Volunteer<br>
at an event

{% endif %}
{% endblock%}