{% load config %}
{% load text %}
{% load css %}
{% load translate %}

{% block content %}

<div class="header_block">
    <div class="header_center">
        <div {% if 'header_logo.jpg'|image_exists %}class="header_logo" {% endif %}>{{ 'BASICS.NAME'|get_config }}</div>
        <div class="header_text">
            <span class="txt-rotate" data-period="2000" {% if language == 'hebrew' %} align="right"
                {% with HACKERSPACE_IS_SENTENCES='BASICS.HACKERSPACE_IS_SENTENCES.hebrew'|get_config %}
                data-rotate='[ {{ HACKERSPACE_IS_SENTENCES|prepareForTextCarusel }} ]'>{{ HACKERSPACE_IS_SENTENCES.0 }}</span>
            {% endwith %}

            {% else %}

            {% with HACKERSPACE_IS_SENTENCES='BASICS.HACKERSPACE_IS_SENTENCES.english'|get_config %}
            data-rotate='[ {{ HACKERSPACE_IS_SENTENCES|prepareForTextCarusel }}
            ]'>{{ HACKERSPACE_IS_SENTENCES.0 }}</span>
            {% endwith %}

            {% endif %}
        </div>
        {% if in_space and 'BASICS.NAME'|get_config == 'Noisebridge' %}
        <a href="#" onclick="marryspeak('{{ 'EXTRAS.SAYHELLO'|get_config }}');this.style.display='none'"
            class="button__cta">
            <div>Say hello!</div>
        </a>
        {% elif ''|still_temporary_open_status and 'PHYSICAL_SPACE.TEMPORARY_LANDINGPAGE_HEADER.CTA_TEXT'|get_config %}
        <a {% if 'PHYSICAL_SPACE.TEMPORARY_LANDINGPAGE_HEADER.CTA_LINK'|get_config %}href="{{ 'PHYSICAL_SPACE.TEMPORARY_LANDINGPAGE_HEADER.CTA_LINK'|get_config }}" target="_blank"{% endif %} class="button__cta">
            <div{% if language == 'hebrew' %} align="right" {% endif %}>{{ 'PHYSICAL_SPACE.TEMPORARY_LANDINGPAGE_HEADER.CTA_TEXT'|get_config }}</div>
            {% if 'PHYSICAL_SPACE.OPENING_HOURS'|get_config %}
            <div id="open_status" class="cta_extra_info">
                {{ is_open_status|safe }}
            </div>
            {% endif %}
        </a> 
        {% elif in_space == False %}
        <a href="#visit_us" class="button__cta">
            <div{% if language == 'hebrew' %} align="right" {% endif %}>{{ 'Visit us!'|landingpage:language|safe }}</div>
            {% if 'PHYSICAL_SPACE.OPENING_HOURS'|get_config %}
            <div id="open_status" class="cta_extra_info">
                {{ is_open_status|safe }}
            </div>
            {% endif %}
        </a>
        {% endif %}
</div>
<div class="header_separator"></div>
<div class="header_image">
    <div class="header_dark_overlay"></div>
    <div id="photos_block">
        {% include "components/body/photos_list.html" with overlays=False %}
    </div>
</div>
</div>

{% endblock %}