html {
    scroll-behavior: smooth;
}

.edit_this_page_block {
    text-align: center;
    margin: 20px;
    display: block;
    width: 100%;
    float: left;
}

.body {
    font-family: var(--FONT);
    margin: 0px;
}

@media (prefers-color-scheme: dark) {
    .body {
        color: #d4d4d4;
        background-color: black;
    }
}

.visually_separated_content {
    position: relative;
    background-color: #ececec;
}

@media (prefers-color-scheme: dark) {
    .visually_separated_content {
        background-color: rgb(43, 43, 43)
    }
}

.logo {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    position: absolute;
    left: 0%;
    top: 10px;
    right: auto;
    bottom: auto;
    width: 100%;
    height: 80px;
    background-image: url('../images/logo.svg');
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.logo:hover {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(3600deg);
    transition-duration: 20s;
    -webkit-transition-duration: 20s;
}

.subheading {
    color: #818181;
    font-size: 12px;
    line-height: 15px;
}

.subheading.small_distance_bottom {
    margin-bottom: 5px;
}



.side_menu {
    position: fixed;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: 0%;
    z-index: 20;
    width: 200px;
    padding: 50px 10px 10px;
    padding-top: 140px;
    background-color: #2e2e2e;
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.4);
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}


@media (prefers-color-scheme: dark) {
    .side_menu {
        background-color: #1f1f1f;
        -webkit-animation: LEDs 8s infinite;
        /* Safari 4.0 - 8.0 */
        animation: LEDs 8s infinite;
    }
}

.page_content {
    position: relative;
    padding-left: 200px;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

.search_bar {
    position: absolute;
    left: 10px;
    top: 100px;
    right: 10px;
    bottom: auto;
    z-index: 10;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #494949;
    color: hsla(0, 0%, 100%, 0.23);
    line-height: 35px;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

.search_bar.active {
    width: 800px;
    padding-bottom: 10px;
}

@media (max-width: 900px) {
    .search_bar.active {
        width: 700px;
    }
}

@media (max-width: 750px) {
    .search_bar.active {
        width: 500px;
    }
}

@media (max-width: 550px) {
    .search_bar.active {
        width: 400px;
    }
}

@media (max-width: 450px) {
    .search_bar.active {
        width: 300px;
    }
}

@media (max-width: 350px) {
    .search_bar.active {
        width: 100%;
    }
}

.menu_heading {
    margin: 10px 13px;
    opacity: 0.5;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    color: #fff;
    font-size: 16px;
    display: block;
    text-decoration: none;
}

.menu_heading.selected {
    opacity: 1;
}

.menu_heading:hover {
    opacity: 1;
    -webkit-transform: translate(5px, 0px);
    -ms-transform: translate(5px, 0px);
    transform: translate(5px, 0px);
}

.menu_heading.sub_heading {
    margin-left: 40px;
}

.search_result {
    margin: 0px 10px;
    padding-left: 34px;
    border-radius: 5px;
    background-position: 5px 50%;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    color: #fff;
    display: block;
    text-decoration: none;
    opacity: 0.5;
}

.search_result:hover {
    background-color: hsla(0, 0%, 100%, 0.1);
    opacity: 1;
}

.search_result.wiki {
    background-image: url('../images/search/wiki.svg');
}

.search_result.meetingnote {
    background-image: url('../images/search/notes.svg');
}

.search_result.event {
    background-image: url('../images/search/event.svg');
}

.search_result.discourse {
    background-image: url('../images/search/discourse.svg');
}

.search_result.machine {
    background-image: url('../images/search/Machine.svg');
}

.search_result.guilde {
    background-image: url('../images/search/Group.svg');
}

.search_result.space {
    background-image: url('../images/search/Space.svg');
}

.search_result.project {
    background-image: url('../images/search/project.svg');
}

.search_result.consensus {
    background-image: url('../images/search/consensus.svg');
}

.search_input {
    padding-left: 15px;
    background-color: transparent;
    border: none;
    width: 80%;
    height: 30px;
    color: white;
    font-size: 16px;
    font-family: var(--FONT);
}

.menu_icon {
    cursor: pointer;
    display: none;
    position: fixed;
    left: 10px;
    top: 10px;
    right: auto;
    bottom: auto;
    z-index: 12;
    width: 40px;
    height: 40px;
    background-image: url('../images/menu_icon.svg');
    background-position: 50% 50%;
    background-size: auto;
    background-repeat: no-repeat;
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

.menu_icon:hover {
    box-shadow: 0 7px 6px 0 rgba(0, 0, 0, 0.25);
    -webkit-transform: translate(0px, -5px);
    -ms-transform: translate(0px, -5px);
    transform: translate(0px, -5px);
}

@media (prefers-color-scheme: dark) {
    .menu_icon {
        background-color: black;
        -webkit-animation: LEDsStrong 8s infinite;
        /* Safari 4.0 - 8.0 */
        animation: LEDsStrong 8s infinite;
    }
}


@media (max-width: 991px) {
    .side_menu {
        left: -230px;
    }

    .side_menu.open {
        left: inherit
    }

    .page_content {
        padding-left: 0px;
    }

    .menu_icon {
        display: block;
    }

}

.blocks_inline_50_percent {
    width: 49%;
    display: inline-block;
    vertical-align: text-top
}

@media (max-width: 479px) {
    .blocks_inline_50_percent {
        width: 100%;
        display: block
    }
}


.block_full_width {
    width: 100%;
    display: block;
}