.text_box_max_height {
    max-height: 191px;
    overflow: hidden;
    margin-bottom: 40px;
}

.host_preview_image {
    width: 40px;
    height: 40px;
    float: left;
    border-radius: 200px;
    margin-right: 10px;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.host_preview_image.rtl {
    float: right;
    margin-right: inherit;
    margin-left: 10px;
}

.host_link {
    line-height: 40px;
    text-decoration: none;
    color: black;
    padding-bottom: 10px;
    display: block;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

.host_link:hover {
    -webkit-transform: translate(5px, 0px);
    -ms-transform: translate(5px, 0px);
    transform: translate(5px, 0px);
}

@media (prefers-color-scheme: dark) {
    .host_link {
        color: #d4d4d4
    }
}

.new_event_info {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 40px;
}

@media (prefers-color-scheme: dark) {
    .new_event_info {
        background-color: #494949
    }
}


.event_banner {
    margin: 0px;
    font-family: var(--FONT);
}

.event_banner_top_block {
    font-size: 35px;
    top: 20px;
    left: 0px;
    display: inline-block;
    position: absolute;
    background-color: #393939;
    color: #F2F2F2;
    padding-left: 95px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 20px;
}

.event_banner_bottom_block {
    background-color: #393939;
    color: #F2F2F2;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-size: 30px;
    padding: 20px;
}

.event_banner_time_range {
    margin-top: 10px;
    opacity: 0.7;
}

.event_banner_logo {
    width: 73px;
    height: 73px;
    position: absolute;
    top: -12px;
    left: 12px;
    background-image: url('../images/logo.svg');
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.event_banner_image {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 230px;
}