.input_field_enter_name {
    width: 92%;
    font-family: var(--FONT);
    font-size: 18px;
    line-height: 40px;
    border-radius: 200px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.4);
    background-color: white
}

.input_field_enter_name.round_square {
    border-radius: 10px;
}

.grey_background {
    background-color: #f4f4f4
}

@media (prefers-color-scheme: dark) {
    .input_field_enter_name {
        color: #d4d4d4;
        background-color: #494949;
        -webkit-animation: LEDsStrong 8s infinite;
        /* Safari 4.0 - 8.0 */
        animation: LEDsStrong 8s infinite;
    }
}

.overlay_overview {
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
}

.times_block {
    float: left;
    height: 100%;
    text-align: right;
    margin-right: 10px;
    width: 180px;
}

.time_overlay_time {
    height: 20%
}

.event_slot {
    float: left;
    height: 100%;
    width: 100%;
    flex-grow: 1;
}

.event_slot_headline {
    top: 35%;
    position: relative;
    width: 80%;
    display: block;
    margin: auto;
}

.event_slot_entry {
    background-color: white;
    border-radius: 20px;
    position: relative;
    text-align: center;
    display: block;
    text-decoration: none;
    color: black;
    width: 97%;
    margin: auto;

}

.event_slot_entry.entry_link {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.4);
}

@media (prefers-color-scheme: dark) {
    .event_slot_entry {
        background-color: black;
        color: #d4d4d4;
    }

    .event_slot_entry.entry_link {
        -webkit-animation: LEDsStrong 8s infinite;
        /* Safari 4.0 - 8.0 */
        animation: LEDsStrong 8s infinite;
    }
}

.host_entry {
    cursor: pointer;
    display: block;
    background-color: #f4f4f4;
    border-radius: 10px;
    float: left;
    width: 92%;
    margin-bottom: 4px;
    padding: 5px;
}

@media (prefers-color-scheme: dark) {
    .host_entry {
        background-color: #494949
    }
}

.host_image {
    width: 35px;
    height: 35px;
    float: left;
    border-radius: 200px;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.host_name {
    float: left;
    line-height: 35px;
    margin-left: 10px;
}