.header_text {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 14px 20px;
    border-radius: 20px;
    background-color: #fff;
    font-size: 25px;
    line-height: 30px;
}

@media (prefers-color-scheme: dark) {
    .header_text {
        background-color: black
    }
}

.highlight_text_red {
    color: var(--PRIMARY_COLOR);
    text-decoration: none;
}

.h2 {
    max-height: 60px;
    padding-left: 5px;
    border-left: 5px solid var(--PRIMARY_COLOR);
    font-size: 18px;
    -webkit-column-count: auto;
    column-count: auto;
    overflow: hidden;
}

.h2.rtl {
    padding-left: inherit;
    border-left: inherit;
    padding-right: 5px;
    border-right: 5px solid var(--PRIMARY_COLOR);
}

.h2.in_result_preview_block {
    margin-left: 10px;
    margin-top: 20px;
    max-height: 47px;
    margin-bottom: 3px;
}


@media (prefers-color-scheme: dark) {
    .h2.in_result_preview_block {
        color: #d4d4d4
    }
}

.h2.meeting_present {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 57px;
    line-height: 70px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.h2.large {
    max-height: 100%;
    font-size: 25px;
    line-height: 30px;
}

.h2.large.small_distance_bottom {
    margin-bottom: 10px;
}

.h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    text-align: left;
}

.link {
    display: inline-block;
    padding: 10px;
    color: hsla(0, 0%, 0%, 0.5);
    text-decoration: none;
}

.link.dark_back {
    color: hsla(0, 0%, 100%, 0.5);
}

@media (prefers-color-scheme: dark) {
    .link {
        color: hsla(0, 0%, 100%, 0.5);
    }
}


.visit_us_text_left {
    width: 30%;
    float: left;
    font-size: 16px;
}

.visit_us_text_left.rtl {
    float: right;
}

.visit_us_text_right {
    width: 70%;
    float: left;
    color: #818181;
}

.visit_us_text_right.rtl {
    float: right;
}


.inline_link {
    cursor: pointer;
    display: inline-block;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    color: var(--PRIMARY_COLOR);
    text-decoration: none;
}

.paragraph {
    font-size: 16px;
    line-height: 24px;
}


.meeting_live_text_span {
    margin-right: 20px;
    float: left;
}

.text-span {
    opacity: 0.5;
}

.current_time_text {
    margin-right: 20px;
    float: left;
    color: #919191;
    font-size: 50px;
    line-height: 70px;
}

.tab_heading {
    width: 49%;
    display: inline-block;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    opacity: 0.5;
}

.tab_heading:hover {
    opacity: 1;
    -webkit-transform: translate(0px, -5px);
    -ms-transform: translate(0px, -5px);
    transform: translate(0px, -5px);
}

.tab_heading.active {
    opacity: 1;
}

@media (prefers-color-scheme: dark) {
    .tab_heading {
        color: #d4d4d4;
    }
}