.header_text {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 14px 20px;
    border-radius: 20px;
    background-color: #fff;
    font-size: 25px;
    line-height: 30px;
}

.highlight_text_red {
    color: #ed1d23;
    text-decoration: none;
}

.h2 {
    max-height: 60px;
    padding-left: 5px;
    border-left: 5px solid #ed1d23;
    font-size: 18px;
    -webkit-column-count: auto;
    column-count: auto;
    overflow: hidden;
}

.h2.in_result_preview_block {
    margin-left: 10px;
    margin-top: 20px;
}

.h2.meeting_present {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 57px;
    line-height: 70px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.h2.large {
    max-height: 100%;
    font-size: 25px;
    line-height: 30px;
}

.h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    text-align: left;
}

.link {
    display: inline-block;
    padding: 10px;
    color: hsla(0, 0%, 100%, 0.5);
    text-decoration: none;
}


.visit_us_text_left {
    width: 30%;
    float: left;
    font-size: 16px;
}

.visit_us_text_right {
    width: 70%;
    float: left;
    color: #818181;
}


.inline_link {
    display: inline-block;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    color: #ed1d23;
    text-decoration: none;
}

.paragraph {
    font-size: 16px;
    line-height: 24px;
}


.meeting_live_text_span {
    margin-right: 20px;
    float: left;
}

.text-span {
    opacity: 0.5;
}

.current_time_text {
    margin-right: 20px;
    float: left;
    color: #919191;
    font-size: 50px;
    line-height: 70px;
}