.header_image {
    position: absolute;
    left: 0;
    right: -1000px;
    top: 0;
    bottom: 0;
    height: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.5)), to(hsla(0, 0%, 100%, 0.5))), url('../images/header_banner.jpg');
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.5), hsla(0, 0%, 100%, 0.5)), url('../images/header_banner.jpg');
    background-size: auto, cover;
    background-repeat: repeat, repeat;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
    animation-name: header_image;
    animation-duration: 300s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: header_image;
    -webkit-animation-duration: 300s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}


@media (prefers-color-scheme: dark) {
    .header_image {
        background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 0%, 0.5)), to(hsla(0, 0%, 0%, 0.5))), url('../images/header_banner.jpg');
        background-image: linear-gradient(180deg, hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0.5)), url('../images/header_banner.jpg');
    }
}

.header_image.donation_footer {
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 0%, 0.65)), to(#fff)), url('../images/header_banner.jpg');
    background-image: linear-gradient(180deg, hsla(0, 0%, 0%, 0.65), rgb(0, 0, 0)), url('../images/header_banner.jpg');
    background-position: 0px 0px, 0% 50%;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes header_image {
    from {
        -webkit-transform: translateX(0);
    }

    to {
        -webkit-transform: translateX(-1000px);
    }
}

/* Standard syntax */
@keyframes header_image {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-1000px);
    }
}

.header_image.secondary_position {
    background-position: 0px 0px, 100% 50%;
}

.header_block {
    position: relative;
    overflow: hidden;
    height: 70vh;
    min-height: 400px;
}


.header_block.sub_page {
    height: 15vh;
    min-height: 100px;
}

.header_separator {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    z-index: 1;
    height: 80px;
    background-image: url('../images/separator.svg');
    background-position: 50% 0%;
    background-size: 105%;
    background-repeat: no-repeat;
}

@media (prefers-color-scheme: dark) {
    .header_separator {
        filter: invert()
    }
}


.header_separator.upside {
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.header_center {
    position: relative;
    z-index: 10;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 25px;
    padding-left: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.header_logo {
    padding: 6px 10px;
    border-radius: 20px;
    background-color: #fff;
    background-image: url('../images/header_logo.jpg');
    background-position: 50% 50%;
    background-size: 90%;
    background-repeat: no-repeat;
    color: transparent;
    font-size: 35px;
    line-height: 45px;
}

@media (prefers-color-scheme: dark) {
    .header_logo {
        filter: invert()
    }
}


.inline {
    display: inline-block;
}

.cta_extra_info {
    position: absolute;
    top: -22%;
    bottom: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 3px 10px 3px 5px;
    border-radius: 20px;
    background-color: #fff;
    color: #888;
    font-size: 13px;
    line-height: 14px;
    text-align: left;
}

@media (prefers-color-scheme: dark) {
    .cta_extra_info {
        background-color: black
    }
}

.status_code_icon {
    width: 13px;
    height: 13px;
    margin-right: 3px;
    border-radius: 20px;
}

.status_code_icon.green {
    background-color: #00c52b;
}

.status_code_icon.grey {
    background-color: rgb(160, 160, 160);
}

.status_code_icon.orange {
    background-color: rgb(226, 133, 57);
}

@media (max-width: 479px) {
    .header_block {
        min-height: 400px;
    }
}