.discussion_topic_input {
    width: 340px;
    display: inline-block;
    font-size: 40px;
    position: absolute;
    top: 13px;
    margin-left: 20px;
    font-family: 'Lexend Deca', sans-serif;
    border-radius: 200px;
    border: none;
    padding-left: 20px;
}

.meeting_block {
    position: relative;
    width: 90%;
    max-width: 1400px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    padding: 15px 15px 10px;
    border-style: solid;
    border-width: 5px;
    border-color: #fff;
    background-color: #ffefa0;
    color: black;
    text-decoration: none;
}

.meeting_block.overlay {
    width: 500px;
    margin: auto;
    margin-top: 30vh;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.presenter_mode_meeting {
    width: 40%;
    height: 38%;
    -ms-zoom: 2.5;
    -moz-transform: scale(2.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(2.55);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(2.5);
    -webkit-transform-origin: 0 0;
}

.meeting_block.inline_block {
    display: inline-block;
    width: 38%;
    margin-right: 1%;
    margin-bottom: 2%;
    margin-left: 1%;
    height: 149px;
    overflow: hidden;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

.meeting_block.inline_block:hover {
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.23);
    -webkit-transform: translate(0px, -5px);
    -ms-transform: translate(0px, -5px);
    transform: translate(0px, -5px);
}

.meeting_block.full_width {
    width: 100%;
    max-width: 100%;
}


.html-embed {
    height: 60vh;
    margin-top: 20px;
    border-radius: 0px;
    background-color: #fff;
}

.meeting_text_summary {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #818181;
}

.cta_center {
    width: 100%;
    float: left;
    text-align: center;
}


.notes_embedded {
    position: absolute;
    left: 0%;
    top: -22px;
    right: 0%;
    bottom: 50px;
}

.meeting_presenter_mode_header {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    height: 70px;
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #ffefa0;
}

.meeting_note_present_body {
    background-color: #ffefa0;
    font-family: 'Lexend Deca', sans-serif;
}

.meeting_live_text {
    position: fixed;
    left: 10px;
    top: auto;
    right: auto;
    bottom: 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 200px;
    background-color: #ed1d23;
    color: #fff;
    font-size: 45px;
    line-height: 60px;
}

.live_icon {
    width: 17px;
    height: 17px;
    margin-right: 8px;
    float: left;
    border-radius: 20px;
    background-color: #fff;
    -webkit-animation: flash_live 2s infinite;
    /* Safari 4.0 - 8.0 */
    animation: flash_live 2s infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes flash_live {
    0% {
        opacity: 0.1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.1;
    }
}

@keyframes flash_live {
    0% {
        opacity: 0.1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.1;
    }
}



.keyword {
    display: inline-block;
    margin-right: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.29);
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    color: #000;
    font-size: 14px;
    line-height: 30px;
    text-decoration: none;
    margin-bottom: 10px;
}

.keyword:hover {
    -webkit-transform: translate(0px, -5px);
    -ms-transform: translate(0px, -5px);
    transform: translate(0px, -5px);
}

.keyword:hover .remove_keyword_button {
    display: inline-block;
}

.keyword.input {
    font-family: 'Lexend Deca', sans-serif;
    border: none;
}

.keyword.add_button {
    padding-left: 33px;
    background-image: url('../images/plus.svg');
    background-position: 7px 50%;
    background-size: auto 70%;
    background-repeat: no-repeat;
    color: #ed1d23;
}

.keyword.save_button {
    color: #ed1d23;
}

pre {
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
}

.meeting_topic_block {
    position: absolute;
    left: 260px;
    right: 330PX;
    text-overflow: ellipsis;
    overflow: hidden;
}