.dark_overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00000000;
    z-index: 15;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    opacity: 0;
}

.dark_overlay.block {
    display: block;
}

.dark_overlay.block.visible {
    background-color: #000000d1;
    opacity: 1;
}