.result_preview {
    cursor: pointer;
    position: relative;
    width: 251px;
    height: 91px;
    margin: 7px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.18);
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    color: black;
    display: inline-block;
}

.result_preview.change_contrast {
    background-color: white;
}

.result_preview:hover {
    box-shadow: 0 9px 8px 0 rgba(0, 0, 0, 0.18);
    -webkit-transform: translate(0px, -5px);
    -ms-transform: translate(0px, -5px);
    transform: translate(0px, -5px);
}

@media (prefers-color-scheme: dark) {
    .result_preview {
        background-color: rgb(43, 43, 43);
        -webkit-animation: LEDsStrong 8s infinite;
        /* Safari 4.0 - 8.0 */
        animation: LEDsStrong 8s infinite;
    }

    .result_preview:hover {
        -webkit-transform: translate(0px, -5px);
        -ms-transform: translate(0px, -5px);
        transform: translate(0px, -5px);
    }

    .result_preview.change_contrast {
        background-color: black
    }
}


.result_preview.placeholder_left {
    width: 36%;
    opacity: 0;
}


.result_preview_left {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    height: 100%;
    float: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    /* -webkit-align-items: center; */
    -ms-flex-align: center;
    /* align-items: center; */
}

.result_preview_right {
    overflow: hidden;
    width: 30%;
    height: 100%;
    float: left;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-image: url('../images/event_default_image.jpeg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.result_preview_right.game {
    background-image: url('../images/events/event_gaming.png');
}

.result_preview_right.music {
    background-image: url('../images/events/event_music.png');
}

.result_preview_right.sewing {
    background-image: url('../images/events/event_sewing.png');
}

.result_preview_right.class {
    background-image: url('../images/events/event_class.png');
}

.text_semitransparent {
    color: #919191;
}

.text_semitransparent.with_padding_left {
    padding-left: 5px;
}

.result_preview_relative_time {
    position: absolute;
    left: 10px;
    top: -13%;
    right: auto;
    bottom: auto;
    padding: 3px 7px;
    border-radius: 20px;
    background-color: #219cee;
    color: #fff;
}

.result_preview_relative_time.repeating_day {
    left: auto;
    right: 10px;
}

@media (max-width: 767px) {
    .result_preview.placeholder_left {
        width: 25%;
    }
}

@media (max-width: 479px) {
    .result_preview.placeholder_left {
        width: 3%;
    }
}